%h2 Less Doing
%i Jameson
%i Ways to do more with the time you have.
%p How do you deal with information overload?
%ul
  %li Get an external brain. The inbox that is your brain can get really full. It is important to externalize all the thoughts you have to a safe place that you can get to easily.
  %li Evernote is a great tool to jot down your ideas, store yours thoughts, and remember things.
  %li The key is to get those ideas outside of your brain as fast as possible into a place you can search later.
  %li Tagging notes can help you search.
  %li Simplenote is another tool to externalize your data.
%p Put all the thoughts into an inbox. Then you can process the inbox later into either a to do list or a knowledge base.
%ul
  %li It is important to process your inbox frequently. If you do NOT process your inbox, you will stop using it once it becomes overwhelming.
%p The tools you use don't matter, what is important is that you have a system, and you stick to it.
%p You don't want to cheat, when you are gaming the system, you are gaming your own productivity.
%p A lot of these ideas are encapsulated in Getting Things Done (GTD).
%p The purpose of your system is to make your day AS PRODUCTIVE AS POSSIBLE.
%p You will tell yourself: these are the things I am going to do today, and I am going limit the distractions outside of those daily objectives.
%b Own Your Time
%ul
  %li It is important for you to understand that your time is your own. If you are wasting your time, you can change it yourself.
  %li Batching your tasks can help out a lot. For example, doing all your email at the same time, and blocking out your time for doing certain things.
%p "Every project management system sucks"
%ul
  %li you have to be able to track what is owed to you and follow up with people who owe you.
  %li There is a lot of space out there for someone to write a good project management app...
%p You do not want to fill out your to do list with a bunch of cruft that is not a next action.
%p Check out FollowUp.cc. If you CC or BCC twodays@followup.cc, you will have that email resent to you in two days. That can be a big help.
%p If you have an email that you know will have to take a big chink of time to response to, you can use followup.cc to bring it back to you at a time you can deal with it.
%p (That is also useful with email that is pissing you off. It is good to send it to the future for you to cool off.)
%p It is useful to take notes only on the things you want to remember, as opposed to keeping notes on everything out there (I do that, too. I hope you and I share what we think is useful. :P)
%p VirtualPostmail.com will scan your physical mail and send it to you as a PDF. It is pretty useful.
%p Once you can feel comfortable in the idea that your data is safe, you can start keeping a lot less physical things.
%p Last Pass is a useful service that will allow you to have many passwords for all your accounts but manage it with one universal master password.
%p InstaPaper is a useful way to store content that you want to read at a later date.
%p Try to learn stuff that matters to you right now. It is ok not to say up on things that are not important to you right now.
%p It is important to purge the things in your life. Physically and mentally.
%p Check out ardio to listen to music.
%p Try eliminating passive services like cable, that way you can control what you do with your time
%p As far as eating, a way to control mindless eating is to develop a system with your eating and follow it (although it is OK to break it).
%p With exercising, it is good to have exercising be a rule for doing something fun (like listening to an autobook, or watching a tv show you like.)
%p Check out CrossFit: It is a functional way to exercise, less running and weights, more useful exercise stuff.
%p Set expectations with people! If you are the guy that responsed to email/phone calls right away, people will be less respectful of your time.
%b the moral of the story is RESPECT YOUR TIME!
%p
  Thanks to Jameson and 
  %a{:href => "http://lessdoing.com"} Less Doing
  for a great talk!

