%h2 Philly Barcamp
%p the intro!
%p How it works: You fill in a talk that you want to talk about. If you have written a card on the board, you are giving a talk. It is that easy.
%p No selling! Do not sell your products or services in your sessions.
%p If you don't like a session, or it doesn't relate to you, leave. It's no big deal.
%p Continue adding sessions to the schedule all day long.
