%h2 Riot URLs
%i Maria Sciarrino
%p The intersections of technology and gender. Where is the place for femenism in tech?
%p Some of the first programmers were women, yet today there is strong sexism in computer science. Why is that?
%p Ever since the dot com bubble burst there have been a great decline in women in tech.
%p Anti-mentors: these are women that break the glass ceiling and then throw down the shards on women beneath them.
%p A key example of the sexism in tech is the latest Wired issue, which overly objectifies women by having a pair of breasts on it.
%p Why do women have to "be one of the guys" to fit in into the tech scene?
%ul
  %li Although sometimes women just want to fit in and become one of the guys, yet they are still left out.
%p There is a quality difference between genders. Women tend to write cleaner more commented code.
%p A big problem is that women underestimate their abilities, and men overestimate their abilities.
%p How can we in Philly get more women excited about computing?
%ul
  %li Education and empowerment is key.
  %li Getting young kids into tech is a good thing. The younger the better. And having boys and girls together is important.
%p Although young education is important, supporting and encouraging women in college is important.
%b Having a strong Women in Tech program is really key!
%p A lot of women in tech get labelled with the term "bitch" when they are driving a point. If they were men, they would be thought of as strong.
%p An idea: A Feminist Coworking location. Like IndyHall, but safe for women.
%p It is more important for a man to speak up to other men that are being sexist. It is more powerful than a woman pointing this out.
%p We are in a world where women = emotional and men = logical. This is pure bullpoop.
%p Alice.org: A great tool to teach girls about programming.
%p How do you teach women how to be inquisitive? - That can be a key to bringing women to tech.
%P I really care about this subject. We need to make this field a more balanced place!
%p Thank you to Maria for a great discussion!
