%h2 Links as Language (How to Write in 3D)
%i David Dylan Thomas
%p Language: A way to create meaning using symbols.
%p Adding hyperlinks to a sentence transforms the meaning of the language.
%p "Does this really deserve this much coverage?" has a WAY different meaning than this:
%p
  "Does 
  %a{:href => "#"} this
  really deserve
  %a{:href => "#"} this
  %a{:href => "#"} much
  %a{:href => "#"} coverage
  ?"
%p The links redefine the meaning of the sentence. It, in fact, can make a nonsensical sentence make sense.
%p Every link is a promise for more information. And the more your article can promise, the more trust it can generate.
%p There is an interplay between text and what text links to. It changes not only the way we WRITE, but also the way we READ.
%p It is simple, no one needs clicking explained to you.
%p
  %a{:href => "#"} click here
  is a really crappy way to make a link. (although there are times where you have to do this... *cry*)
%p Hyperlinks have introduced the idea of instant expectation. (You could not rick roll someone without this concept).
%p As a writer, you can play with these hyperlinks to mold your prose. Think of a hyperlink as another tool in your writer's toolbox (like a metaphor or analogy).
%p You can actually create structure in your prose using hyperlinks.
%p By adding interesting hyperlinks into your articles, you can add depth into your stories. BUT it is important to make your articles make sense even without hyperlinking.
%b Choose your own adventure: The original hyperlinked prose.
%p Game narratives vs. Film narratives
%ul
  %li Films are linear.
  %li But games are very non-linear (unless you are FFXIII :P)
  %li Writing with hyperlinks is a lot like a game narrative. The reading experience can change with each link.
%b "Hyperlinks are inclusionary. Their purpose is to point to something else and include it into the given context." - Alex Hillman
%p There is a difference between tweeting a link and using hyperlinking as an artform. The fear is that tweets, facebook posts, etc. will become king and that strips the hyperlinks from prose.
%p BUT, the counterargument is that the links you tweet are articles that ARE using hyperlinks as art.
%p The web is like a big brain, and each node makes the group smarter (or dumber).
%p Linking allows us to connect the nodes together.
%p There are online style guides to how to use hyperlinks in your articles. But should there be, or should it evolve as people start using it more in their writing?
%ul 
  %li Both these things are happening. Big institutes will have style guides.
  %li But there will always be room for innovation in design and style.
%p The internet is REALLY good to talk about things. It is somewhat useful for creating new things, but it excels at talking about things that exist. In this way hyperlinks are essential for this medium.
%p Hyperlinks bring more authority to your articles...or does it. Some sites "google bomb" or inject ad links to articles to RUIN THE INTERNET! (you suck google bombers).
%p The biggest challenge to the web is building trust. If you don't trust the people you link to, you can't link to them.
%p "Apps, the suburbanization of the Internet" - @chadoh
%p Hyperlinking can help you explain and give context to obscure references in your writing.
%p The future:
%ul
  %li Video comments: with Viddler, Vimeo, YouTube, etc. you can add comments/links inside your videos.
  %li Photo comments: with Flickr, etc. you can add comments/links inside your photos.
%p "All hyperlinks are is footnotes on crack."
%p "Augmented Reality is like hyperlinking your LIFE."
%p The Internet of Things:
%ul
  %li You add RF tags to EVERYTHING.
  %li Then you can go on the web and find out stuff about that thing.
  %li With Augmented Reality, you can bring the knowledge of the Internet to YOU.
%p The three types of knowledge
%ul
  %li The shit you know.
  %li The shit you don't know.
  %li And the shit you don't know that you don't know.
%p The most important type of knowledge now is not "what you know," it is "how to know how to FIND knowledge."
%p You do not LOSE knowledge. You can share knowledge without losing that knowledge.
%p "It is mean to not share information."
%p Stop thinking of the web as a place to put your stuff and start thinking about it in a whole new way!
%p Thanks to David Dylan Thomas for a great talk!
