%h2 Philadelphia JavaScript Developers July 2013 Meeting
%h3 Intro to Mobile Development
%i Steven Brent
%p In the past, mobile development for the enterprise meant one thing: you develop for BlackBerry.
%p June 29, 2007: The iPhone arrives and changes the game. Now Mobile is focused on consumers for the first time, instead of IT.
%p The App Store model is really what moved the needle on mobile development. The App Store made it easy to make apps and sell them.
%p Then there was Android, which made smart phones fast and cheap and out of control. Which brings us to today and a BYOD (Bring Your Own Device) environment.
%p The three routes to mobile development:
%ol
  %li
    %h4 Native development
    %p Full access to hardware access
    %p Optimal performance
    %b BUT
    %p Platform specific
    %p Low code reuse
  %li
    %h4 Web
    %p Open Standards
    %p Cross-platform
    %b BUT
    %p App Store lockout
    %p Limited hardware access
  %li
    %h4 Hybrid
    %p Device Access
    %p App Store access
    %b BUT
    %p Packaging required
    %p Vendor dictates terms
%p What is the future?
%b HTML5, JavaScript, and CSS3 are the way.
%p (the rest is a Sencha Touch sales pitch)
%h3 Secrets of Chrome Developer Tools
%i Bonnie DiPasquale
%p Wow, this is cool stuff...
