%h2 Typed Channels and Macros
%i Roland Kuhn
%p Akka actors can be used to implement the pi-calculus.
%p ...yep, this is pretty advanced. (Sorry, future me)
%p
  A lot of this is explaining the experimental Type Channel implementation in Akka at
  %a{:href => "http://doc.akka.io/docs/akka/snapshot/scala/typed-channels.html"}the Akka website.
%b Thanks to Roland for the great talk (sorry I didn't do well with the notes!)
