%h2 Towards an Ethics of Care: Understanding and Acknowledging Care Work in Technology Companies
%i Amelia Abreu (@ameliaabreu)
%h3 Open Source Bridge 2016 - Day 2 - Session 5
%p How do you take care of your kids? How do you take care of your aging parents? Injured partners? All of these things are burdens to the tech worker, or really any full-time employee that is also a caregiver.
%p How do we quantify the affects of caregiving in the tech world? Carol Gilligan argued that the standards of moral reasoning skewed to men. Women were, from a young age, treated differently which affected how they performed in school and the workplace.
%p The politics of care. The material feminists of the 1920s and 30s (1st wave) concentrated on the importance of caregiving to society. They were interested in bending technology to improve caregiving.
%p 2nd wave feminism introduced the idea of socialist feminism of the 60s and 70s. The Homework Economy by Donna Hardaway predicted the role technology would play in caregiving in the future.
%p The black feminist movement highlighted the need to rise up careworkers in their community.
%p The queer community during the AIDS crisis did a great deal to raise the needs of caregivers to the mainstream populist in the 80s.
%p There are lots of opportunities to see where the lack of rights of caregivers effects us all.
%p The tech industry has a deep crisis of care. Engineering culture tries to remove itself from the mainstream. Individualism is overemphasized. Teamwork is deprioritized.
%p We try to make carework invisible in tech work. There are some things that humans can do that machines just cannot do.
%b The idea and norm in the tech industry is to overlook the human aspect of the work.
%p We silo care work in the tech industry. In the majority of tech companies, the support teams rarely have contact with development teams.
%p We exist without much of an ethic of care.
%p Calling technology "magic" is infantilizing.
%p Who are we building technologies for anyway? It seems like we create technology for white males only.
%p The ideal tech worker according to Silicon Valley is a cis-gendered unmarried white male with no caregiving responsibilities. And the technology we see appearing is overwhelmingly helping that majority group only.
%p In the tech industry, if you are a caregiver, or need care, you are outcast. You are shamed and even let go.
%p Katie Notopoulos wrote "The End of Apple Man." It lambastes...me. I don't know what to do about it?
%p Recognizing care at work. We often think that people who give care outside of work are less important at work.
%p Is it possible to reimagine technology in terms of caregivers?
%p Let's admit that our responsibilities outside of work are just a part of life. And we need to work to integrate care teams in technology. Care work is technical.
%p We have a long way to go in the open source community to lift up caregivers. We have to stop the monopoly of those that have the time to contribute.
%p Care has the possibility of radicalism.
%p Thank you, Amelia, for a great talk.