%h2 Hard Problems in Terms of Service Enforcement #OSB16 Notes
%i Denise Paolucci (@rahaeli)
%h3 Open Source Bridge 2016 - Day 2 - Session 6
%p What is a terms of service? It is a document that covers your behind. To your users, it is a bunch of gibberish that they will only read if they have a problem.
%p There is usually a "don't do that" section in a ToS. Writing a ToS is very hard. So, we often steal ToS from others...or pay lawyers a lot of money.
%p Automatic, the makers of Wordpress, made their ToS Collective Commons, so you don't have to steal anymore.
%p You might think you can write a BETTER ToS...yeah...you can't.
%b The problem with a ToS is that once you have it...you have to enforce it.
%p And people will remember what you do when you enforce that ToS. Enforcement needs to be as consistent as possible!
%p Doing ToS enforcement can really mess up your sense of empathy. It can get real dark in there.
%p Confidentiality is of the utmost importance when dealing with ToS issues.
%p Always report CP to the NCMEC. When you see it, you fill out a form and send it off.
%p Copyright violations are easy, too. DCMA lays it out.
%p Doxxing is also an easy case. It is obvious what to do.
%p Credible threats == call the cops.
%p Spam is super easy, you just suspend the account. Easy!
%p What does "harmful" mean? At what level do you take action? When is bad, too far?
%p What do you do when the harmful thing is sort of helpful, too?
%p What about "hateful?" What is hate speech?
%p The issue you run into is all about context. If you don't know the in-group hate language you will have a hard time identifying them. The same content can be OK in some context, and not OK in other context.
%p There can also be a mismatch between what the sender means and what the receiver understands.
%p What happens if the hate speech is in another language that you don't understand?
%p OK, what about "personal privacy?"
%p The US does not have "the right to be forgotten" laws. The EU does, though.
%p The US does not have "likeness rights." You do not have rights to photos of your likeness.
%p How about "illegal activities?"
%p Just because it is illegal to do something, it is not illegal to talk about, depict it, or give instructions on how to do it in the US.
%p ToSes almost always have a catch-all clause. It is the CYA clause. It allows you to terminate or remove whatever you want just in case.
%p People will report content to you that is on other sites.
%p What do you do in he said/she said information?
%p When you are 14 years old, there is no COPA restriction on you shutting down an account. What do you do when a parent asks you to close down the account, what if the person is lying about being the parent?
%p If you are thinking of making a site, you have to have vigorous banning.blocking tools.
%p You need to have fine-grained privacy controls. You should be able to lock just one post.
%p You need to log IP addresses, browser useragents, and unique cookies on various actions. You need to have that trail of evidence there for you.
%p Have an admin tool to suspend individual assets as well.
%p You need to keep track of any case that isn't the same-old same-old, and make sure your whole team knows about them.
%p Condense every decision down to a bright-line test that you can document.
%p If you get a case that makes you want to deviate from your internal policies, you need to figure out why and document it.
%p How you communicate does matter. You need to be personal, empathetic and specific. You are going to use form letters, but you have to personalize them.
%p Explain your thought process to your users and why you are not taking action. Offer tips and workarounds.
%p ToS teamwork is hard, miserable, soul-sucking work.
%p The person managing the team has to be doing the work.
%p Enforce mandatory vacation work, and mandatory break time.
%p Make sure that your team works together on difficult cases. Teamwork needs to be the way we all work.
%p Every conflict has (at least) one person who feels they lost. They are going to slant the story in their favor.
%p If you are the CEO, don't override the ToS team's decision!
%p Thank you, Denise, for a great talk!