%h2 Security Starts With You: Social Engineering
%i Tiberius Hefflin (@WhataTiberius)
%h3 Open Source Bridge 2016 - Day 2 - Session 4
%p Social engineering relies on direct or indirect nontruths to get a mark to react in a way they normally wouldn't.
%p What make a lie believable? Generally it is in the framing of the lie.
%p Lying tactics:
%ul
	%li
		%p Tailgating or piggybacking. This is when you have someone follow you into your office after you scan your badge. Tailgating is doing it without your knowledge, piggybacking is when the con artist gets you to agree to let them in. This doesn't happen very often, but it is pretty easy to to and a con artist.
		%p This method relies upon the helpfulness of the mark. Letting in the pizza guy is a great example.
	%li
		%p Phishing is when you call or email someone and get them to reply. The Nigerian prince email is a classic scam. These are called 419 schemes. If you get caught in one of these schemes, the con artist will continue to hit you up for money until you stop giving to them. This type of scam has been around from the 1920s. It started with snail mail, then email, and soon texting.
		%p Pivotal got phished for W2 information in 2015. Posing as the CEO, the attacker targeted a financial professional in Pivotal. This type of attack is called spear phishing.
		%p There is also whale phishing, which is targeted to C-level execs and is very personalized. These types of attacks are quite successful.
	%li
		%p Ransomware is also another method of attack, where an employee will upload a file to a service, and then the service will force the client to pay Bitcoin or they will not get the document back.
		%p Be really critical of spelling errors. Scammers will often put them in there on purpose to weed out attentive people.
		%p Never use the link sent in an email.
	%li
		%p Pretexting is a way of setting up a scenario to prepare for an attack. The attacker has to do a lot of research on you for this to work. Catch Me If You Can is all about pretexting. One example is a new employee calling a receptionist about losing a client list that his boss needs.
		%p No company is ever going to call you personally. Always hang up on them. Don't trust your communications.
		%p Always verify from another source.
	%li
		%p Baiting is putting the carrot out and waiting for someone to bite. The shared USB drive, a CD lying on the ground. DON'T PICK UP THINGS AND PUT THEM IN YOUR COMPUTER!
%p The uninformed, uneducated employee is the number one weakness to security in companies. We need to increase employee buy-in and eliminate pushback. You have to get your employees to truly believe that security is important.
%p Why do so many companies fail at this, though? Many companies only pay lip service to security compliance.
%p How do we change an move forward from poor education? Cultural change is hard, but the most important thing you can do to enact that change is to talk about it and take small baby steps.
%b Ditch e-learning! Online courses are useless for real learning. We need small classroom settings to start to see cultural change!
%p Read Kevin Mitnick and Frank Abagnale, Jr. for great stories about attacking.
%p Always check snopes.com for the truth!
%b Always be suspicious!