%h2 Graph Databases Will Change Your Freakin' Life #OSB16 Notes
%i Ed Finkler (@funkatron)
%h3 Open Source Bridge - Day 3 - Session 3
%p GraphStory is neo4j as a service.
%p What is a graph database, anyway? It is NOT about data visualization. Those are charts, not graphs.
%p When we talk about graphs, we talk about graph theory as established by Euler.
%p What we are really talking about is very large amounts of data. Data that is interconnected together.
%p How do you represent an entity? In RDBM you use the concept of a ledger: tables, rows in tables, etc. And the tables are connected together by constraints in the form of keys.
%p neo4j has made graph databases very accessible to graphs.
%p You do not have to be a Java developer to use neo4j.
%p Graph nodes have properties, these are like the columns in a table. They also have labels, the labels are like table titles. Nodes can have multiple labels, though.
%p The thing that links nodes are relationships. Relationships have directions, types, and a label.
%p Graph databases are just dots (nodes) and lines (relationships). It is that simple!
%p But, direct relationships are easy in RDBM. The real power of graph databases is connecting indirect relationships together. Graphs are things you can do this with really well because of the graph theory behind it. With RDBM, it is much harder.
%p With graph databases, you can start to answer questions that you didn't expect to have.
%i (ack, I had to do a work thing, so we are note-lite on this one :sadface:)
%p Thank you, Ed, for a great talk!