%h2 Corporate Open Source Fail #OSB16 Notes
%i Sarah Sharp (@sarahsharp)
%h3 Open Source Bridge - Day 3 - Session 4
%p How can we prevent corporations from failing in the FOSS world?
%p "Process is scar tissue from past failures." Until corporations get burned a couple times they may not listen to FOSS advise.
%p Companies care about their profit more than their employees.
%p Why would companies even get into open source? Well, there might be advantageous to them.
%p The reasons corporations get into FOSS can get them into some common pitfalls.
%p Binary blobs. When a company opens up part of their system, but then releases a binary-only, that is no good.
%p Some questions to ask there is, what is the business impact of keeping this closed? You need to find and befriend the lawyers.
%p Another common pitfall is forking a system and never giving back. When they do that they start to accrue massive technical debt, because they start to lose the ability to update later.
%p Don't treat open source as a release manager. They need to treat open source as the architect, get them in at the beginning of the process, not the end.
%p When PMs start to get involved in FOSS, they start to assume that once the code is up on the WWW, it is "done." What they often don't understand is open source lifecycles.
%b You're fire is not my emergency.
%p Linux has a nine-month release cycle for stabilization. This is often not fast enough for most companies.
%p Sometimes companies get frustrated with FOSS, so they will make their own thing. They will write something and just throw it over the wall. That is "available source" not open source.
%p Available source makes for a very narrow-minded view of the software, you can miss a much wider audience.
%p Getting companies to get out of the walled garden model is hard. You have to apply pressure on the company to see that their projects are failing.
%p Oftentimes, companies will try to reinvent the wheel to try and beat the FOSS market leader. The problem is that it doesn't work that way in FOSS.
%p FOSS is all about the community. Without the community, your projects will fail. Companies have to get involved with the community.
%p Sometimes the company will just buy the lead developer for a FOSS project. They are not buying us because they love FOSS. They are buying us because they want to make money.
%p Companies need to:
%ul
	%li Stop hiding behind binary blobs
	%li Reduce tech debt (no forking)
	%li Treat FOSS as architect, not release manager
	%li Submit early and often
	%li Work to develop a community
%p Thanks, Sarah, for a great talk!