%h2 Hardware Hula Hoops and Flow #OSB16 Notes
%i Lindsey Bieda (@lindseybieda)
%h3 Open Source Bridge - Day 3 - Session 7
%p The Adafruit Trinket is $7 and is enough to get started with playing around with hardware!
%p 