%h2 What Hath Von Neumann Wrought? Programming before programming languages #OSB16 Notes
%i M. Edward (Ed) Borasky (@znmeb)
%h3 Open Source Bridge - Day 3 - Session 2
%p
	%a{:href => "http://znmeb.gitlab.io/what-hath-von-neumann-wrought/slides.html"}Check out the slides for a LOT of detail. 
	Much better than I can do justice for here. :)
%p We are standing on the shoulders of giants.
%p "In Computer Science, we sand on each other's feet." - Brian Reid
%p APL hype!!! :D
%p What made computer science possible? What was there before it all. Before Ruby, and Java, and C++. Before Lisp, APL, and ML. Before FORTRAN and COBOL. Before it all.
%p In July of 1969 there were IBM System/360 mainframes in NASA running the moon landing (it was NOT done with a slide rule).
%p Back in 1969, you have LISP, FORTRAN and COBOL.
%p In 1957 the first FORTRAN compiler was built for the IBM 704.
%p In 1952, the IBM 701 was announced.
%p In 1946, we start with the IAS machines. ILLIAC I is one of the best implementations.
%p Burks and Neumann wrote a paper that defined the modern computer (the Von Neumann machine) in 1946.
%p IAS machines had 40 bit words. It's key concept was to do parallel fetching and storage of entire words from memory. It also introduced the concept of RAM. It also gave us parallel addition and subtraction AND multiplication and division in hardware.
%p A word in memory could be interpreted as a number, and character or an order.
%p Programs could modify themselves.
%p There was a 40-bit accumulator, multiplier, memory data registry, complement gate, R3 and adder.
%p In 1961, they were teaching undergrads to program on the ILLIAC I. It was hard, but at least it was something!
%p
	Check out 
	%a{:href => "https://github.com/simh/simh"}simh 
	for a lot of old computer simulators, but there is no IAS simulator!
%p There is IASSim, which is cool, but not bit-compatible with the ILLIAC I.
%i (Ed is diving deep on how to program the ILLIAC I, this is too complex for note-taking!)
%p
	For another great overview of computers, check out 
	%a{:href => "https://www.amazon.com/Code-Language-Computer-Hardware-Software/dp/0735611319"}Code by Charles Petzold.
%p Thank you, Ed, for the deep dive on IAS machines!