%h2 Hardware Hula Hoops and Flow #OSB16 Notes
%i Lindsey Bieda (@lindseybieda)
%h3 Open Source Bridge - Day 3 - Session 7
%p The Adafruit Trinket is $7 and is enough to get started with playing around with hardware!
%p So...how do you make a hula hoop.
%p But, let's talk about flow. Flow is when you are fully immersed in a task and have an energized focus. High skill + high challenge = Flow.
%p The flow state is a state of guaranteed happiness. It is really hard to achieve, though.
%p Apathy is the opposite of flow.
%p Enjoyment appears at the boundary between boredom and anxiety. That means you have to challenge yourself.
%p That means you have to do things that you might potentially fail at.
%p Flow makes the present instant more enjoyable, and it builds self-confidence that allows us to develop skills.
%p You have a chance for flow at every step in your process.
%p Mistakes happen. You have to embrace them! Things don't always work, and that is totally OK!
%p Problem solving is all about what we do as developers.
%p The hoop will fall. There are things you can't fix. Accept it. That is OK.
%p You should never be afraid of making mistakes. You are better than that! Mistakes are the best way to learn.
%p Hard things are important to flow. We have a tendency to avoid difficult things because of fear of failure. When you move past that, you can achieve amazing things.
%b Failure is a step on the way to a happy brain!
%p You can have a flow between two people. It can really help your relationships.
%p What you need to get started with hardware stuff: soldering iron, solder, desoldering pump, safety goggles, and a helping hands tool.
%p Go make a MintyBoost! It is a great starter project!!!
%p Thank you, Lindsey, for a really fun talk!