%h2 Accidental Developer Evangelism #OSB16 Notes
%i Katherine Fellows (@kf)
%h3 Open Source Bridge - Day 3 - Session 5
%p How do we connect with other developers?
%p Organizing events and unconferences!!! You can do it! This is how.
%p Start small. Don't try to make the biggest thing in the world.
%p You will need: a code of conduit, a venue, and maybe some food!
%p Oftentimes, you go to an event and you want it in your city. That is a good way to start.
%p You need a code of conduit including a description of unacceptable behavior. You have to have an enforcement policy as well.
%p It is important to have clear directions on reporting violations and know how to handle reports.
%p Once you have it all documented, you have to train your staff to understand what to do with reports.
%p Don't reinvent the wheel when writing a code of conduit. Steal someone else's. Geek Feminism Code of Conduit is a good one.
%p Next you need a place. A corporate office venue is a nice solution. They come with a lot of stuff for free, like venue insurance, alcohol permits, and security.
%p Corporate venues also often host the event for you, so you don't have to hold the door open for people, for example.
%p Catering is super easy with corporate venues. Corporations often have their own catering services they can help you with. Leverage them!!!
%p If you are getting larger (>100 people), you might be outgrowing corporate venues. Then you have to start looking at professional rented venues.
%p The main concern with rented venues is that they are very expensive. You often have to have a minimum catering cost as well, which is painful.
%p Hotels can be tempting, but the catering is more often than not, really bad. :D
%p On the plus side, you usually get A/V setups provided for you. Of course, it is wicked expensive.
%p Another nice feature is the ability of getting a hotel block which gives your attendees a discounted price.
%p You can also seek out venues that don't usually host events, like restaurants, museums, or stores. This is fun for people new to tech. Corporate offices can turn off non-technical people.
%p Theaters are good if you only need one room and someone is presenting.
%p Smaller non-traditional places can be a lot cheaper. Colleges can be good options here.
%p For ticketing systems...just use Eventbrite. Make your live easy.
%p For food and drinks, you have to accommodate all the things: Vegetarian, vegan, dairy-free, gluten-free, halal, kosher...eep!
%p Good news, you can cheat and just order Mediterranean food. Problem solved!!!
%p You need to do outreach! Go to user groups in the area and promote your event.
%p You also need to get people to talk!!! Talk to them and ask them. Eventually some of them will say yes!
%p When getting sponsors be persistent!
%p If you are looking for a job, ask your potential employer if they sponsor things.
%p Ask your company, ask your friend's companies. Have no shame!
%p If you are an attendee, lead an unsession! Participate in talks! Join into a panel! Get involved!
%p Propose to give a talk at a conference! You can do it! PROTIP: Don't say "I" in your proposal. Build on other people's talks from previous years. Focus on what attendees will take away.
%p Ask conference organizers to give feedback on your proposal. They are often helpful.
%p Lead a workshop! If it is a workshop at a conference, often that is a paid workshop, so you need to be on-point. Those types of people will often be a lot more senior, and they expect more from your workshop.
%p If you know a thing, teach a thing! You don't need to be an expert in everything, you just need to know a little bit more than other people.
%p Thank you, kf, for a great talk!