%h2 Towards an inclusive management style #OSB16 Notes
%i Group discussion
%h3 Open Source Bridge - Day 4 - Session 2
%p
	See 
	%a{:href => "https://twitter.com/elstamey"}@elstamey's 
	%a{:href => "https://www.evernote.com/shard/s162/sh/81fbfd6f-f478-4b90-a627-fa07e5042589/4e4bfed252f0e5fab52df2d65f67f8a0"}notes
	for this one, as I was running the conversation.
%p Thank you everyone for a great discussion!