%h2 The Cabo Card Game #OSB16 Notes
%i Trey Hunner (@treyhunner)
%h3 Open Source Bridge - Day 4 - Session 3
%p
	Trey taought us the 
	%a{:href => "http://treyhunner.com/2015/06/cabo-card-game/"}Cabo Card Game.
%p Thank you for teaching us a fun new game, Trey!