%h2 Exploring Mental Illness With Open Source #OSB16 Notes
%i Julia Nguyen (@fleurchild)
%h3 Open Source Bridge 2016 - Day 2 - Keynote
%p Spiraling is a term we use when mental health issues start to surface in ourselves.
%p Storytelling is a way to cope with spiraling.
%p It is often a problem when parents tell their children to keep their mental illnesses secret.
%p It is important to remember that web design and development is actual software engineering.
%p If you do not have a supportive community, it is hard to expose your mental illness to others.
%p A common problem minority women have in engineering fields is finding other women in the field as competition.
%p In undergraduate computer science as a minority women, it is frowned upon to admit failure. That leads to a downward spiral to darker issues.
%p Women in Computer Science support groups in universities are able to help with these stresses. More universities need to invest in these programs.
%p Open source doesn't always mean writing code. Anything can be open source. Open source can be a source of social good.
%b Side project culture can be harmful. We need to stop the flaunting of side projects as a measure of how successful we are as software engineers. It is a false indicator of success.
%p The open source community can be intimidating to newcomers. Outsiders trying to get involved can feel like imposers.
%p We have to be careful and respectful when working with others to build inclusive communities.
%p A great way to grow your open source community is to set up calls with your new contributors. This builds strong connections.
%p Check out the Contributor Covenant, which is a set of rules that open source communities can adopt to be inclusive and open.
%p It is easy to forget the people that help out in open source communities. We have to make an effort to recognize each other and say thank you.
%p If your contributors need to quit or take a break, accept it. You should not berate them for leaving, their time is their own.
%p Burnout is real.
%p Trust is very important in the open source community. We have to foster trust in our communities by creating safe, nurturing and inclusive spaces.
%p Thank you, Julia, for keynoting!