%h2 Creating a Third Wave of Free/Open Source Software #OSB16 Notes
%i
	%a{:href => "http://lifeofaudrey.com/"}Audrey Eschright
%h3 Open Source Bridge - Day 3 - Keynote
%p When we talk about the FOSS community, we are talking about a group of organizations making free software possible.
%p The first wave of FOSS started in 1985 with the creation of the FSF by Richard Stallman.
%p In response to the restrictions of proprietary systems running UNIX, Stallman created GNU.
%p The FSF has four software freedoms: free to run, free to study, free to copy, free to modify.
%p In 1989 the GPL was created to protect the four freedoms of free software.
%p At the same time, the access to personal home computers started to increase.
%p The second wave starts in 1998 with the open source release of the Netscape Navigator source code.
%p This is when the open source definition was defined. Now there was a concrete way to tell if a license is open source or now.
%p One of the biggest changes is that Copyleft was NOT required, so you did not have to make your modifications publicly available to be open source.
%p Around this time Linux started getting more mainstream use in business.
%p We build our industry on open source...technically. :)
%p The rub is that businesses use open source, but have a hard time giving back.
%p It is 2016 now. We are starting to see the pain of earlier choices. FOSS does not address the issues of privilege and free time. It has created a tragedy of the commons.
%p There are serious problems with sustainability. FOSS is not sustainable when we cannot pay contributors.
%p There are serious problems with burnout. It is endemic in the FOSS community.
%p FOSS has the lie that it is a meritocracy. The meritocracy is a lie.
%p There is a diversity problem in FOSS. The community is dominated by young single upper-middle class cis-gendered hetronormative white males.
%p So, how do we build software? We have to be open to other people.
%p We have to pay our contributors through plans like Ruby Together.
%p We need healthy communities that talk about real human issues.
%p We need effective business structures. This is a capitalist society, we must conform.
%p We need participation agreements and code of conduits.
%p Maybe we need to take another look at licensing. Could we craft a license that starts to address these goals?
%p Is source code the only part of software? Absolutely not!
%p Thank you, Audrey, for a fantastic keynote!