%h2 Free Culture in an Expensive World
%h3 Open Source Bridge 2016 Keynote 1
%i Shauna Gordon-McKeon (@shauna_gm)
%p What is the status of money in free culture projects? We need money, but we also need to ensure that the money flows.
%p
	%a{:href => "bit.ly/fcew-repo"}Check out the survey!
%p "Free as in speech, not free as in beer." (too simple to explain the world of FOSS)
%p Ignoring money is a privilege. If you feel that you should not mention money, you likely have enough to not worry about money, therein lies the issue.
%p In open source, we are not wealthy enough NOT to talk about money. There is money in open source. Just look at Red Hat, Mozilla, Puppet, Chef, etc.
%p Over 80% of Linux contributors are employed by companies.
%p There are many models for open source profit:
%ul
	%li support, training and integration (Red Hat)
	%li vendor-neutral corporate foundation (Linux Foundation)
	%li Affiliate advertising (Mozilla)
	%li hosting (Wordpress)
	%li freemium (Chromium)
	%li open core
	%li dual licensing (MySQL)
	%li sponsored by proprietary company
	%li customization through agencies
	%li freelance development
	%li bounties (BountySource)
%p So, there are a lot of ways to make money with FOSS, but in reality, sometimes proprietary software is just better. Success in FOSS is not the same as success in the free market.
%p There should be more models:
%ul
	%li volunteer (through donations)
	%li software-focused non-profits
	%li other non-profits (that also do software)
	%li government
	%li academia (Scratch)
	%li crowdfunding (kickstarter, snowdrift, indiegogo)
	%li grants
	%li fellowships, internships &amp; retreats (Google Summer of Code)
%p What are the problems with the FOSS community and these models:
%ul
	%li A number of key technologies are still proprietary (think Windows).
	%li Many FOSS projects are not well-rounded. Tech debt grows since it is deemphasized. Same with documentation.
	%li Serious lack of diversity. FOSS discriminates against people that do not get paid to work on FOSS.
	%li Burnout. FOSS developers get burned out often, due to the vitriol.
%p Three fears that derail the conversation:
%ul
	%li There is a misconception that extrinsic motivation (profit) destroys FOSS contribution, that is just not true.
	%li We also have a fear of corporations. For-profit companies are no more a monolith than the FOSS community. Corporations can be good for open source (See Comcast's embrace of the FOSS community).
	%li There is also a real fear of communism. That is silly, but there are a lot of non-FOSS folks that throw out the word "communism" to stop the conversation.
%p
	%a{:href => "https://sourcecode.cio.gov"}Check out the US government's draft on FOSS.
%p Tech workers are in a rare position of power right now. If we developers demanded all our code be released as open source, could we leverage our collective power? What is stopping us from exercising our collective power? Money?
%p We need to talk more openly and freely about money in the FOSS community.
%p As long as money is stigmatized, we will only talk about money in small groups and in private. We need to talk about money and free culture!
%p
	Development and improvement of technical and community infrastructure. The FOSS community needs a financial center for help. See 
	%a{:href => "https://rubytogether.org/"}Ruby Together
	for an example.
%p Consider buying tech devices that don't harm human or natural resources (where can we find that, though?).
%p FOSS is all about working openly and collaboratively, so let's get togtyher and talk about money!
%p Thank you, Shauna, for a great talk and start of the conference!