/ Career Health Check
%h3 #railsconf 2011 Notes
%i Keavy McMinn, @keavy
%p What Would Dolly Parton Do?
%p "Pour myself a cup of ambition"
%p Ask yourself, "where are you at right now?"
%p How are your sleep patterns, how are your energy levels?
%p Record your satisfaction of your work.
%p Do you love what you do? Check out the Csikszentmihaly chart to see where your work lies in the the challenge/skill level range.
%p You can use apps like mecuryapp to track your happiness levels.
%p Find out who you are and what gets you excited.
%p What gives you meaning in live? What gives you pleasure?
%p What are your strengths?
%p What are your limitations? This is just as important as your strengths.
%p Think of it a choice-driven development.
%p Competencies are on the middle of what you can do and want you want to do.
%p Money is always going to be an important part of the equation, but it is not the only one.
%p We like to solve problems, that is an important part to keep us happy.
%p Communication matters. Commute matters. All of these things matter.
%p Your time is precious! You should have time in your life to balance work and play.
%p Relationships are very important.
%p Being part of a team can be very rewarding.
%p Be aware of your team. Do you value the people in your team? Do they value you? If the answer is no to any of these, then you might have a problem.
%p You NEED to give yourself permission to say no to things.
%p Is this selfish? No. If I find a project I truly care about, I will do better at it.
%p Being INTENTIONAL in life is what matters.
%p Your careers YOUR responsibility! Take control.
%p Think of it as "Career Driven Development"
%p You have to choice what you do in your life. That is a powerful realization.
%p So be intentional about your career choices.
%p Making choices have consequences, but making NO choice also has consequences.
%p Try making a personal board or a peer supervision group to share your concerns at work, and to share where you want to go in your career.
%p Having a group where each person has a half-hour to talk about their situation and get support. That can be a good way to explore how to get into career exploration.
%p How do you remain a freelancer, but work with great people and great companies? Really the solution is to make that decision to SEEK OUT and find those great people, and then get the courage to approach those great people. Often they will be open about working with you.
%p Be VOCAL about your choices. Broadcast yourself, people WILL listen and respond.
%p How do you get a personal board together? Be vocal about wanting to meet up with others like you. You might be surprised that there are others that want to meet up near you.
%p Balancing work and play is very important. One way to balance what you do is to track your time. Track when you work and how you work. That way you can see if you are out of whack.
%p There are definite downsides to frequent travel. It makes balancing your work/play life much harder.
%p It is helpful to keep track of how much sleep you have. Keep track of what makes you happy and sad. Write it down!
%p Ask other people for advise. Most people are responsive to helping you.
%p Another good point, do not rely on only one source of advise. Ask around, and be aware of their motives when you get that advise.
%p We all want to earn as much money in a s little time, but we also want to feel valued, work on good things, and be challenged. Each one of these things matter with your overall happiness.
%p It can be hard to work at home with a baby, something like a coworking space can help out with that. You don't have to rent an office, you can rent out just a desk. Check out loosecubes.com for available working spaces in the area.
%p How do you balance jobs that pay well and jobs that make you feel good (a.k.a. so you can change the world)? You have to approach your work in a way that can be both financially and morally rewarding. Sometimes you cannot do that, but it is a good idea to volunteer some of your time. Although you have to be careful that volunteer jobs could explode into bad things.
%p A good intention is "I want to work with smart people."
%p There is always a moment in every intentional person's life where their life changes and they realize that their choices matter.
%p What do you do to stop your self from falling asleep again (becoming unintentional again)? Eventually a job becomes just a job. It is important to mix up your life and be sure to learn these lessons over and over there.
%p "Even a dream job becomes a job." Intentionality needs to be a practice.
%p "You'll know when you know." You have to follow your heart, and listen to yourself!
%p Purposely seek out people in your life that have energy, purpose, and passion. Surround yourself with positive people. Positive energy can have a powerful effect.
%p Sometimes getting out of your environment can realize your life change. If you go on vacation and don't want to come back, then it is time to change jobs.
%p Ask around about aprenticeships at places like hashrocket and aptiva.
%p Thank you to Keavy for the great talk and excellent conversation!
