/ 50 in 50
%h3 #railsconf 2011 Notes
%i Guy Steele (Oracle Labs), Richard Gabriel (IBM Research)
%p Fifty remarks in exactly fifty words each.
%p Postmodern programming.
%p ...this is a postmodern talk. I can't concentrate and take notes. Sorry guys.
%p 
