/ Infiltrating Ruby onto the Enterprise Death Star using Guerilla tactics
%h3 #railsconf 2011 Notes
%i Luis Lavena (@luislavena)
%p Luis is the crazy guy that bugs the Rails community for Microsoft support!
%p How do you sneak Ruby into the Enterprise? There are many problems about getting Ruby in.
%p We want to get a thing we LOVE and put it into our day jobs. We got it ALL wrong.
%p One of the biggest problems is that it is HARD for Windows devs to join up with the community. Why?
%p We need to make the Rails environment more accessible to Windows guys.
%p The stack to learn Rails is BIG for a Windows/Java guy.
%p The command line in Windows sucks. The crutch of the IDE is hard to leave for those guys.
%p Something like RubyMine or Aptana RadRails can help get these people into the fold.
%p http://bit.ly/rake-compiler Rake Compiler provides a standardized way to build and package Ruby C and Java extensions.
%pre rake native gem # create a native version of your gem, Cool!
%p http://bit.ly/mini_portile MiniPortile will allow you to install gems and have it just work IN WINDOWS!
%p The goal to make ruby work in the enterprise is to get this to work EVERYWHERE:
%pre gem install foo
%p http://bit.ly/pik-ruby Get multiple rubies on Windows (like RVM, but not dependent on Bash)
%p We need to think of cross-platform compatibility in Ruby today. It is the biggest barrier to getting it adapted in the Enterprise.
%p And I WANT it adapted into the Enterprise, because I want to find more joy in my work :)
%p Check out RubyInstaller. It is a way to get Ruby on Windows quickly! Check it out!
%p 
%p Thank you to Luis for the great talk!
