/ Ignite RailsConf
%h3 #railsconf 2011 Notes
%p @igniterailsconf is a series of lightening talks.

%h3 How to Create Awesome Screenasts
%i Greg Pollack, @greggpollack
%p To be a better developer, you need to learn how to screencast.
%p Screencasts are useful to show your clients how to do stuff
%p Jing is a way to make 5 minute screencasts.
%p We need more screencasts in the community.
%p Level up: Screenflow and Camtasia, they are awesome.
%p Final Cut sux! It is too hard.
%p How can we make good quality screencasts?
%ul
  %li Create an outline.
  %li Use Keynote slides to explain concepts and ideas.
  %li Keynote is useful and fun to use.
  %li You can record your slideshow as a mp4, and import it into Screenflow and hack it into your recording. AWESOME!
  %li Audio and Video: You have to get a Yeti USB mike.
  %li You do NOT have to do it live.
  %li DON'T RECORD YOUR ENTIRE DESKTOP!
%p The Code School Screencasting Framework will be announced tomorrow, Check it out.

%h3 20 Awesome Gems
%i Mike Subelsky, @subelsky
%p authlogic: web sessions as a model in your app. It is awesome. V. Cool
%p Use bcrypt-ruby to run crypto
%p Capybara lets you test with lots of frontends
%p dim: Dependency injection in Ruby!!! AWEOSME!!!
%p Factory-girl: Factories for testing. HAWT!
%p foreigner: Foreign key constrains, v. cool.
%p formtastic: Create forms fast with less repetition.
%p girl_friday: let's you do async in the background
%p grb: git remote branch, makes git easier
%p guard: watches file system and does stuff
%p Jammit: like sprokets, but different
%p Omniauth: Add twitter auth to your app and more
%p ostruct: better than a big long hash
%p perftools: use google perf tools with AWESOME graphs
%p pg_sexy_constrains: utilize postgres' constrain system
%p pusher: web sockets but more
%p right_aws: hack into Amazon
%p spork: load your env. and it makes tests fast
%p therubyracer: run JS in Ruby with V8
%p timecop: test time-based code

%h3 README Driven Development
%i Matt Parker, @moonmaster9000
%p You write a gem on Github without a README: YOU SUCK!
%p Goddamnit! Write a README!
%p If you do not write a readme, you don't get open open source.
%p If you are not writing readmes you are pissing on the community.
%p Don't use a wiki or cucumber shit. WRITE a readme for your USERS.
%p A README is a story. It has a beginning a middle and an end.
%p Act 1: The hook. You have to mkae your user want to use your gem
%p you have to differenciate yourself fast.
%p Act 2: The tutorial. You have to tell your user how to use your gem.
%p The entire API should be covered in the README for small or medium sized gems.
%p Act 3: Get out quickly
%p When do you write it?
%b WRITE IT FIRST!
%p Write the entire readme before you write any code.
%p emergent design != no design.
%p Your project will be 9000 more successful if you write your readme first!

%h3 If They Asked You, You Could Write A Book
%i Noel Rappin, @noelrap
%p YOU can write a book. Believe it!
%p You know something. If you know something, you can tell it to the world.
%p Share your knowledge with the world.
%p Technical writing is easy to break into.
%p write a blog. Start small.
%p DO NOT WAIT! You do not have to be an expert.
%p Start with something you have done, or something you want ot learn.
%p Pick a topic you are interested in.
%p Facts are not scary. Facts are the easy part in tech writing.
%p Emphasis is the hard part. What to explain is difficult.
%p Find an expert on what you want to talk about, and ask them.
%p If you are an expert, find a novice to run your ideas pass them.
%p Find out what your audience should know.
%b Write regularly!
%p If you don't remember where you left off, you are NOT writing regularly.
%p Start with the short stuff.
%p You do not have to write your book in order!
%p Start with what you are the most interested in.
%p You have to enjoy the process!
%p Someone wil not like this. That is OK.
%p But someone WILL like it. Remember that.
%b So write!

%h3 Open Source Yourself and Make a Dent in the Universe
%i Adam Ochonicki, @fromonesrc
%p I would love to change the world, but they won't give me the source code.
%p All of us are here because of the open source community.
%p You are here because you want ot change the world.
%p You have to COMMIT yourself.
%p You are GOOD ENOUGH. Don't let the haters stop you.
%p Don't wait this opportunity.
%p Make as many dents in the universe as you can. Plant the seeds and let other people water them.
%p Get to know your neighbors! They are really really awesome.
%p When you were a kid your dreams were not just dreams. Let's get back to that.
%p Why do we stuff away what we are?
%p When you interact with kids, respect them! Let the kids change the world.
%p We power the world. We have a large impact.
%p The illusion of authority is just that.
%p Remember: love for all individuals, and mad respect for all!

%h3 Some Ideas About Chess Multiplayer Website Development
%i Omar Qunsul, @omarqunsul
%p Building a chess website is fun!
%p All the sites out there is very slow and in flash and in English.
%p Uses ajax polling to Ruby on Rails, but that is really expensive.
%p So there is something magical: Socket.IO
%p Socket.IO uses a TON of protocols and it is supported most browsers. It rocks
%p Socket.IO is run on Node.js, it is easy and awesome.
%p Hoichess is a cool computer AI system.
%p Omar is using OpenId with devise to hook into gmail.
%p That is it! And the website is online.

%h3 RbMU Tech - A Whirlwind Review of Ruby Mendicant University's Open-Source Software
%i Jordan Byron, @jordan_byron
%p RMU is a university run by Gregory Brown: A free university for ruby intermediates.
%p University Web is used to manage the school.
%p University Web tied together a lot of technologies.
%p Submissions are ways to let students work together to work on code together and learn.
%p The entire point of the software is to drive the community.
%p Puzzle Node is a new site that is used for the admissions process to RbMU.
%p You solve puzzles and if you rock enough, yu can get into the university.
%p Puzzle Node has to have a valid solution to get it to pass.
%p Again, the community has driven the puzzle node site.
%p Getting info out to your users are pretty critical.
%p It is SO important to listen to your users! They can teach you as much as you can teach them.

%h3 Diary of A Mad Hacker
%i Bryan Liles, @bryanl
%p You have to have an itch.
%p Bryan had too much time as a kid.
%p You have to pick an enemy!
%p The enemy is STUPID PEOPLE!
%p There is a statue of limitations: don't hack in bad ways
%p Go to college, it is fun.
%p LEARN UNIX.
%p Learn to hate UNIX!
%p Do UNIX in anger. :)
%p Learn the networking stack.
%b Take advantage of stupid people! They will do what you ask!
%p Change the world through code.
%p Lesson 1: You don't know
%p Lesson 2: use what works for you!
%p Lesson 3: share
%p Lesson 4: Go out and meet somebody.
%p Lesson 4(2): What did you learn today?
%p Lesson 5: jhave an opinion
%p Lesson 6: quit when the fun ends

%h3 Know Your Limits
%i Elise Worthy, @eliseworthy
%p Knowing your limits is a good thing!
%p Know what you are truely excellent at. That evolves over time.
%p Know when you should ask for help, and know when you should fold.
%p It is important to be passionate about what you do!
%p When you are passionate MAGIC will happen: Other people will start to care, too.
%p Sometimes you have to let your passion go and have them live on their own.
%p Are you the best person available for your project? There might be others out there more awesome. :P

%h3 It's the Community, stupid.
%i Jeff Casimir, @j3
%p Why use Ruby? There are a lot of reasons not to use ruby, but...
%p The community is WHY we are awesome.
%p What we do is FUN, we like what we do.
%p We care about the community.
%p The poeple in the Ruby community are amazing AND they get along.
%p Why Ruby? IT'S THE COMMUNITY, STUPID!
%p Small communities self-organize.
%p Around 27 people, you stop knowing everybody.
%p As a community scales, it has to have structure.
%b Start epic shit.
%p When you start something, it will blossom and grow.
%p "Don't be a temporary flower, be a branch that supports the community!"
%p Build forests of people.
%b Expertise is an allusion!
%p You are an expert within a given scope.
%p Once you sart a community it will get momentum.
%p You don't build with big actions, it is all the small stuff that matters.
%p Build your community. And GIVE BACK!

%h3 The Ultimate Productivity Hack: Having kids
%i Brian Doll, @braindoll
%p Hacker + Kids == ???
%p Nerds LOVE productivity!
%p Parents need mad productivity to finishing the week!
%p GTD: Get shit done!
%p Kanban:use a post it!
%p Pomodore: timebox your stuff.
%p But I need more time! and more hands!
%p What does #winning mean to me???
%p This stuff doesn't work the best...
%p What is your next action? THERE CAN BE ONLY ONE!
%p When you have a tiny scrap of something to do, you need to have time to do it.
%p Kids are like the best drugs. They expand your mind.
%p Kids just play ALL day. Maybe this is the secret... I should play more.
%p The most important part of the system is the users that use it.
%p Are you doing the best work of your life RIGHT NOW?
%p If not, WHY THE HELL NOT?
%p Help each other out.
%p Do what matters, and do it well. (and when you're done, play like hell!)

%h3 KidsRuby: Think Of The Children
%i Ron Evans, @deadprogram
%p It is a great time to be a software developer. You are REALLY WANTED RIGHT NOW!
%p The demand for programmers is skyrocketing, where the number of CS grads are dropping hardcore.
%p How can we turn this whole thing around?
%b We have to win the hearts and minds of the youth.
%p _why the lucky stiff GOT this!
%p Programming is FUN! That is why you are here.
%p KidsRuby is like HacktyHack. It is Ruby of Kids!
%p It is "turtle-compatibility"
%p "Ruby for Kids" is incorporated in KidsRuby.
%p Kids want to make games!
%p We need to make them make games.
%ol
  %li You need kids. They are EVERYWHERE
  %li You need a location: Do it at a Bar Camp.
  %li You need volunteers: you will get them.
  %li You need candy: for parents and kids
  %li You will need toys: Give the kids ruby on USB sticks!
%p The future really belongs to the children!

%h3 As a Language, Can We Make Ruby on Rails As Historically Significant as Latin, Ancient Greek or Sanskrit?
%i Malcolm Arnold, @rubynuby01
%p Is RoR more productive than other languages?
%p Is RoR going to last over the long term?
%p We have a once in a planet chance to change everything in the next 3-8 years.
%p What will happen next?
%p The next thing is cheap mobile devices that can connect to servers of the cloud.
%p EVERYONE will be able to connect to EVERYONE EVERYWHERE.
%p Imagine an education system where you don't own anything. But you get everything back.
%p We can change the world with free education and teaching kids how to code Ruby.
%p "Try-it-before-you-tithe-it" education: free education, if you succeed, you pay.
%p Check out RubyNuby, they are working in Africa to make programming matter in communities around the world.

%h3 Standing Remotely on the Shoulders of Giants
%i Ashish Dixit, @tundal45
%p Is remote pair programming awesome?
%p When you are learning something new, it is much easier to mimick someone that has already learned the process.
%p That is one of the AWESOME things about pair programming.
%p The internet is hawt! With pairing and the internet together you get: REMOTE PAIRING!
%p Remote pairing is a great way to learn languages, frameworks, tools, workflows, etc.
%p It is a great way to interact with the community.
%p It is a great way to make new friends!
%p Simple problems lead to great conversations, like code katas and code retreats.
%p One great idea is OSS Code Walkthroughs through remote pairing
%p Remote Journeyman Tours, think Code Retreats remotely.
%p You need: A mic or a headset, sjype, TeamViewer for screen sharing, and CodeKata or RubyKoans.
%p More people should do this!
%p We need to do more mentoring!

%h3 How To Be Awesome (From a Counterexample)
%i Ben Scofield, @bscofield
%ol
  %li
    Start stuff: The more things you start, the more awesome you are.
    %p Don't start lame stuff. Scratch your own itches.
    %p Think SMALL!
  %li
    Finish stuff: The more things you finish, the more awesome you are.
    %p BE A CLOSER.
    %p Have a defined goal.
    %p If you have no goal, how do you know you are finished?
    %p Be a smaller finisher.
    %b Ship early. Ship often.
  %li
    Quit stuff
    %p Quit the things you CAN'T finish!
    %p You have to move things off your plate.
    %p You have  project that you don't want to do. Stop.
    %p You have to help your users move to the new thing.
    %p Quit all the stuff that is not making you awesome.

%h3 Ignite Karaoke
%i Dr. Nic Williams, @drnic
%p You are better off alone.
%p The challenge with OSS is that small groups cannot self organize.
%p I'm a coder, I need to pair program... Program in front of a mirror.
%p When you don't have to worry about others you are free.
%p When you write code, you are writing for yourself!
%p Write for the future you.

%p Think you to all the AWESOME and AMAZING speaker at Ignite RailsConf 2011
