/ The LivingSocial Story
%h3 #railsconf 2011 Notes
%i Aaron Batalion (LivingSocial)
%p They went from 4 to 1400 people in 1.5 years!
%p You need a LOT of traffic to make money on Amazon.com deals.
%p Living Social became the #1 Facebook platform before Farmville.
%p Customers only see about 10% of the actual technology. The rest is behind the scenes.
%p They have internal iPad apps for their sales force.
%p They are trying to solve local eCommerce. Local eCommenrce is HUGE. It allows local business to get known.
%p They have LovingSocial Escape which is like like a weekend-in-a-box.
%p "You buy a Groupon, but you join a LivingSocial"
%p "Execution matters, and ideas don't"
%p Culture matters, make sure you spend time on it.
%p LESS of the RIGHT people can do MORE. The team itself matters.
%p Know your metrics. Metrics are extremely important.
%p Be nervous or you aren't trying hard enough.
%p Build your toolbox: When you design your platform, make it flexible enough to scale and change.
%p J.S.I.O: If you are an early start up, just shit it out. Get your stuff out there.
%p Don't ever be happy, but always strive for more.
%p Thank you to Aaron for the great talk.

/ You're Awesome!
%h3 #railsconf 2011 Notes
%i Corey Haines (@coreyhaines)
%p Corey Haines is awesome.
%p A lot of the great things about going to a conference is meeting people and getting to know great people and make connections.
%p Everybody here is awesome. Not just the speakers, you and me.
%p Are you great? Are you awesome? YES!!!!!!
%p We are all awesome in our own way.
%p Roger Bannister ran the first four minute mile. Before him, many thought it was not possible. But he proved them wrong!
%p Keavy is an IRONMAN! She is amazing!
%p So, how do you become awesome? You HAVE to PRACTICE.
%p No one is BORN a great speaker. No one is born a great coder. No one is born great. You have to PRACTICE!
%p How do you get to be a great speaker: You speak, you blog, you talk to others and introduce yourself.
%p You should practice coding: You practice.
%p We coders do not practice well. We always want to perform while we practice. We have to PRACTICE to get better.
%p We need to go to code retreats, we need to got to coding dojos, we need to practice coding katas.
%p We need to SHARE code, put it out on github.
%p DON'T EVER BE AFRAID OF PUTTING YOUR CODE UP THERE ON THE INTERNET!
%p Our community is a true meritocracy. Our meritocracy is based on sharing with the community.
%p Sharing is a good way to get great.
%p The Ruby community is great because we care! We care about bringing everyone together.
%p Get out and DO IT! Share. Get out there and be awesome!
%p Thanks to Corey for the awesome talk!

/ Dan Melton
%h3 #railsconf 2011 Notes
%i Dan Melton (Code for America)
%p Code for America teaches people to become citizen coders.
%p CfA is all about recruiting a big geek army and pairing us up with governments.
%p The goal of CfA is all about making government better.
%p What if we put in a call for coders and took them and placed them in governments to do awesome stuff.
%p Coders take a year of their life, and go into governments to make things better.
%p @sferik is working on rails admin for CfA right now.
%p CfA was creates because there was really no options for engineers to give back to our communities.
%p They give you a year to make things more awesome in open source. That is awesome.
%p They are currently recruiting for new fellows at http://codeforamerica.org/fellows/apply
%p Rails is really good fit for small government.
%p We share our tools really well in the Ruby community.
%p We are social, but we are not very political. And that is really cool.
%p We are involved with a lot of the tools that are changing the world.
%p There are 40-60k rubyists in dozens of cities. It is a HUGE geek army.
%p You should join your local Ruby meetup group. If you don't, you should start one.
%p We have some really amazing leaders in the Ruby community, a lot like the Tea Party.
%p We have a lot of great manifestos buried in our code.
%p What happens we we start to use our tools and make them available for social change?
%p Thank you to Dan for the great talk!
