/ You got Enterprise In My Rails. You Got Rails In My Enterprise. (And I Like It.)
%h3 #railsconf 2011 Notes
%i Ian McFarland (Pivotal Labs, Inc.)
%p Ruby and the Enterprise can go together like peanut butter and jelly.
%p We are the cool kids! (w00t!)
%p The new hawtness is GREAT, but we often do not think about if it is the right tool for the job.
%p Rubyists like to be firemen, not plumbers. They want to work on to hawtness, not the plumbing.
%p Rubyists go to The High Pint Cafe in Philadelphia, PA, but the Enterprise is more like Starbucks Coffee. They are big and everywhere.
%p 50% of developers are below average. They are going to want an IDE. They are going to want tools that help them.
%p We should think more about how the workers in the large organizations will be effected.
%p How can we make workers in the Enterprise use the greatness that is Ruby? We have to ease them into it.
%p We have to stop thinking about Ruby from an ivory tower perspective. We have to get people involved without the overhead.
%b We need more women in tech!
%p We need to get the developers that go to trade schools, not just the ones that go to expensive schools.
%p Let's start being nice to the Enterprise folks! We want to build tools with them in mind.
%p We have so much potential in the Rails space, but what are the problems:
%ul
  %li It's too slow
  %li It doesn't have good tools
  %li It doesn't have good MSSQL and Oracle support.
  %li etc...
%p These were all complaints with Java 15 years ago. Ruby is where Java was 15 years ago.
%p The amount of money in the Java world is 3 orders of more than Ruby.
%p This is a watershed year for Ruby. Heroku got bought for $250MM by Salesforce. This is a GOOD thing!
%p Salesforce brings a sales force to heroku, and that means it brings a sales force to Ruby. Because you cannot think of heroku without Ruby.
%b You have to make Ruby feel safe for people to buy into it in the Enterprise.
%p Salesforce has a lot of mindshare with CIOs, it helps to make Ruby safe.
%p Then vmware came and threw in their support with Cloud Foundry.
%p The Enterprise getting into the Ruby world will NOT change us. They are coming to us, we are not coming to them.
%p What is Enterprise scale? Enterprise scale is a LOT smaller than the whole web.
%p What about complexity? Well the Enterprise can be a LOT more complex. There are a lot of moving parts there.
%p Most business domains are quite complex. Think of HR systems, or package control systems. These things are non-trivial.
%p Agile works. Use it, bitches!
%p One of the reasons we didn't need corporate overhead is that there is a lot less code to write in Rails.
%p Enterprise stores a LOT more data than small startups, for the most part. And often they need it to be much more secure.
%p There are lots of interesting things to do in the big data space.
%p Internet apps have to do one thing really really well. In the enterprise you have to have a lot of really little applications that don't work so great. Manageability becomes a really big deal.
%p Enterprises have to care about security more than startups.
%p A lot of this in the Java world ended up in Aspect Oriented Programming. That is really hard in Java. But one of the things that is really cool in Ruby is that it is dynamic enough to do this!
The Enterprise has:
%ul
  %li Fewer users
  %li Less traffic
  %li More domain complexity
  %li More, smaller apps
  %li More business rules
  %li More complex reporting requirements
%p The enterprise is not such a bad thing. Let's not be all hating in the Enterprise, let's work with them and make them excited about it!
%p Convert the thought leaders to Rails and you will move the team forward.
%p Create a Rails team, Your Java team will start to see that the Rails team can get things done faster and with less bugs, and that can help cause change to happen.
%p Thank you to Ian for the great talk!
