%h2 Speaking Interface: How to talk to designers
%i Jess Martin
%ul
  %li Rule #1: Know your audience!!!
  %li When you design thing take your audience into account.
  %li Software is for PEOPLE! You should remember that when you are designing your UIs.
  %li Rule #2: Know the audience's purpose!
  %li Rule #3: Know the priority of your audience
  %li
    Design a page by knowing the:
    %ol
      %li Person
      %li Purpose
      %li Priority
%p Devs are all about function. Designers are all about form.
%p The client just wants it done.
%p The dev wants to know the requirements, the designer wants to get the "feel" of the site.
%p The dev and designer miss something. The person that this is really for is THE USER!
%ul
  %li
    Who is the user?
    %ul
      %li Software is for people
      %li Imagine a day in the life of the user.
      %li HIGHLIGHT the parts of the day when your user uses your system.
      %li Use a timeline to figure this out.
      %li This allows you to visualize when your user will use the application
      %li "Gotta Wanna": Does the user use the app for their owe sake, or are they being forced to use it?
      %li If they have to use it, make it streamlined and easy to use
      %li If it is a fun app, you can make it more fun and engaging.
  %li
    Why are they here?
    %ul
      %li Back-seat Driver: Watch someone use your app.
      %li Imagine showing the page to your mom. What would you tell them to click next?
      %li Cotton-Eyed Joe: Every application we design have a flow.
      %li The app should tell you where you are coming from, and where you will go.
      %li Where is the user in the flow of the application?
      %li Amazon.com's check out system is a good example of flow.
      %li Even if you don't know it YOU'RE APPLICATION HAS A FLOW. You might not know it, but your users. do. Find out what it is.
  %li
    What is most important to the user?
    %ul
      %li MVP Test: What is THE most valuable piece of information on the page.
      %li Don't have a list of important things, focus on the top three (at most) important things first.
      %li Design for mobile first: With limited screen space, you are forced to pick out the important stuff
      %li Design from the inside out, but develop from the outside in. If you focus on what matters first the rest will flow.
      %li Evaluate the MVPs
      %li The Squint Test: Squint at the screen, what jumps out?
      %li The Font Size Test: Make sure you do not have more than 3 levels of font sizes. And that they are starkly different.
%p The take away: Software is for people. Mae your software for them.