%h2 Closing Keynote
%i Gary Vaynerchuk
%p Whyday.org: Aug. 19, 2010 A day to put your best practices away, do something wild and different. And code. Fun. Chunky Bacon. :)
%p RubyConf is going to be in New Orleans at Nov 11-13, 2010! Woot!
%p Who is this guy?
%ul
  %li Born in Belarus. Came here as a kid.
  %li Moved into a studio apartment in Queens in '78. eight kids. Nuts.
  %li Moved to Jersey, saved saved saved.
  %li Gary Vee had 7 lemonade stands, and had his friends man the stands.
  %li In 8th grade, he pwned with a baseball card business. Making $1500-$2000 a weekend.
  %li Then his dad made him bag ice in the basement of his dad's liquor store. (suck)
  %li Became a wine collector.
  %li Launched WineLibrary.com in 1997.
  %li Met Eric Kastner in 2001. Eric became the full-time developer for the liquor store.
  %li Launched WineLibraryTv in 2006.
  %li Got famous and shit.
  %li Now he is famous and shit.
  %li Wrote a book called "Crush It!"
  %li Now he is writing a book called "The Thank You Economy"
%p It seems like everyone is running their web companies like they are 19-year-old kids.
%p The web is REALLY young.
%ul
  %li "Giving a fuck is coming on strong" - people are starting to care about what we do.
  %li You should get involved with your own community.
  %li Thank your customers! Your customers care about you. You should care about them as well.
  %li The fact that people talk about your products is AWESOME!
  %li If even ONE person follows you, you should love it. Love it!
%p EVERYTHING you do. Everything. Everything is being documented. So do NOT embarrass yourself by doing dumb shit now.
%p We need to respect each others thoughts. We needs to be aware of the faults in our products. And understand our users concerns.
%p Show people who you are. Be yourself.
%p It is awesome that we can do what we want to do. This is the most major culture shift of this time.
%p "Freemeium" - You get someone into your app, and charge for added features. With the advent of the iPad, this paradigm is gaining a lot of popularity. The masses are being trained to pay for apps in this model.
%p Content is always king.
%p You know how you succeed? You do the right thing. You make small town rules. People care when YOU care.
%p The authentic people will win!
%p People need to think of the interests of others outside their circles (esp. tech people).
%p To many people in our space don't do enough to learn about other cultures (run a lemonade stand, learn about corp. culture, get your hands dirty!)
%p "I wish I spent more time with my family, and I wish I did something I loved." - Something almost every 80-90 year old person said to Gary in conversations about their life.
%p (Check out the "OpenData" movement. What is that all about...sounds cool)
%p "Go Team Humans!" - We humans are vastly underestimated. Actually, we are awesome. Awesome like hot dogs. Awesome like full of awe.