%h2 Creativity and Constraint (Day 3 Keynote)
%i Neal Ford
%p This will not be a practical talk. it will raise more questions than answers.
%p The Rails community is different from all the other tech communities Neal has seen. There is a lot of passion here.
%p "Constraints are liberating"
%ul
  %li (check out Zen and the art of Motorcycle Maintenance)
  %li It is hard to do something if there are too many options to choose from.
  %li When you constrain your options, you can get more creative: Just look at Twitter (you can be pretty creative in 140 chars.)
  %li Deadlines make you creative. Force yourself to do work in a set amount of time.
  %li When you have all the time in the world, you tend to get nothing done.
  %li The constraints in life are the things that define what you are, and how you do what you do.
  %li "Dreaming in Code" - a book about a group that had all the resources and time in the world and failed horribly.
  %li (but what about bad constraints, like static functions in Java)
  %li So when is there too much constraint.
  %li "I'm a failed poet" - William Faulkner
%p What is a community: a group of people that enjoy the same type of constraints.
%ul
  %li The Rails community is a lot like artists communities in the past. We gather and discuss then leave with a bond and greater attachment to our constraints.
  %li With the invention of the camera, painting got further and further away from representation and into the realm of interpretation.
  %li The camera gave the painters freedom from the need to represent things.
  %li Enterprise Java Development is OUR camera.
%p Software development is a craft, not an art.
%ul
  %li Art advanced the human condition
  %li Art has nuance and symbolism
  %li Ambiguity, and thought provoking
%p BUT, is it possible to have art in code?
%ul
  %li Art in code: composability is the coding version of nuance and ambiguity.
  %li non-obfuscating density is needed for code to become art (not confusing, but concise)
%ol
  %li expertise or virtuosity: we celebrate our heroes
  %li nonutilarian pleasure: we do it because we love it
  %li style: our code styles are recognizable to our coders
  %li criticism: people make judgement on code
  %li imitation: we make abstractions to represent the real world
  %li special focus: we take time out to focus on our art (i.e. RailsConf)
%b CHALLENGE TIME: So go out and create!