%h2 CDBaby
%p Derek Sivers on thoughts.pro (@sivers)
%ul
  %li Imagine your heroes.
  %li Now imagine they ask you to speak at a conference.
  %li What do you speak about?
  %li You speak about this: :)
%ul
  %li You can think of things in a different way.
  %li E.g. In Japan they name blocks, not street.
  %li If you flip a map, you can still read it. It is still right.
  %li We learn new programming languages in order to see the world in a different way.
%p Accents and Identity
%ul
  %li We are very identifiable by our accents. And that is OK.
  %li Programming languages are the same.
  %li Java programmers write with a Java accent. Ruby with ruby accent.
  %li We all have quirks. We have things we love. Like ...vim for example. :)
  %li Quirks are great IF you are the only one using them. BUT if it is not what others are used to, it sucks for them to use it.
  %li Showing off your quirks can be a bit pretentious.
  %li So, the nicest thing you can do for your users is make your site simple to use...make it like other websites.
  %li Derek was working on CDBaby on his own in isolation and his quirky framework and it got more and more quirky.
  %li The moral of the story is that you should really think about the FUTURE when you are designing for the present.
  %li A fun little PHP framework becomes a quirky little understood framework. You will never hire awesome people if you paint yourself into a corner.
  %li At some point it makes sense to step back and conform. (eep!)
  %li We hackers have "intrinsic motivation." Intrinsic motivation can be as strong OR STRONGER than external motivation.
  %li e.g. no one wants to get PAID to recommend music. They recommend music because they love it.
  %li What project can you do that is SO INTERESTING that you can get other devs to WANT to help you do it intrinsically?
%p How can you delegate everything?
%ul
  %li Take Virgin for example, Bronson delegates everything and Virgin is awesome.
  %li You pick a community, get the best people in that field and brain dump ideas on them.
  %li To hire well, you have to describe well. Brain dump your ideas and put it on paper, or the web, just get it out there.
  %li A leader needs guts! But a leader a first follower. The first follower makes the difference.
  %li Accept your first follower as your equal.
  %li Be a first follower. Why wait? Be bold. Be like the dancing guy (you know who I am talking about, google dancing guy/first follower to see what I am talking about)
%p Confabulate: fabricate plausible reason for the things we feel.
%ul
  %li You know what you like or what you don't like.
  %li The feelings come first, and reasons come afterwards for most people.
  %li There is an emotional self and a rational self.
  %li The rational self says "no no no," but the emotional self ... just goes nuts. Oh well.
  %li Intuition is the sum of everything you have ever learned (go read "How We Decide" by Jonah Lehrer)
  %li Our brain injects our emotional state into our rational brain.
  %li And sometimes that can lead to good things. Things that can help us, although we do not know why at the time.
%p Programming as fun (if you are a true amateur, a "lover of" the craft)
%ul
  %li > 90% of people think that they are better than average... That means you prolly think you are more of teh awesome than they are.
  %li You know what. HALF of people are about average.
  %li You know what, I think I am pretty below average. And you know what. That is OK. That just means I have a lot more things I can learn.