%h2 Mobile App Development with iPhone and Rails
%i Mike Clark

%p We are going to roll our own network mechanism first.
%p Don't use a library that you do not fundamentally understand. Reduce the magic in your code.
%p A good idea is to override your to_xml and to_json methods to only send what you want, not everything Rails wants to send (saves space and stops sensitive data from being passed on)
%p CoreData is sort of like ActiveRecord for iPhone. It is awesome, we should check it out.
%p This tutorial is intense coding in a language I am unfamiliar with (Objective-C), so not too much time for notes here. Sorry. :(
%input{:type => "hidden"} coupon code 35% off all pragprog.com books!: RailsConf2010-8943