%h2 Yehuda Katz Keynote
%p Rails 3.0beta4 is out, Bundler 1.0beta1 is out!
%h3 How can you get involved in the Ruby community
%p We make easy things trivial, hard things easy, and impossible things possible.
%p George Dantzig (The good will hunting guy) solved some "impossible" problems. What we think of as impossible is really relative.
%p Find something impossible and then DO IT!
%p A lot of people feel like Rails is daunting at first. And it is, but it gets better.
%p A lot of the time a noob can stare at the manual all day and not know what they suppose to be working for.
%p Is it impossible to step up and contribute? Nope.
%p
  How do you get started in Rails?
  %ul
    %li Have a willingness to work really hard.
    %li Start with something small. Something simple for you.
    %li See past impossible
  How do I become awesome?
  %ul
    %li Find something impossible and then DO IT!
    %li With enough will you can get past the social stagnation of a community.
    %li Have a willingness to see things to the end.
%b One Person Matters
%p There is basically only one person working on the Rails Docs. Without them the docs would be a mess.
%p What is the way to the "in-crowd"
%ul
  %li Nobody turns down hard work. If you are willing to do a lot of hard work, you will not be turned away.
  %li Work on Rubinius or JRuby, they are hard problems that need to be solved today.
  %li People will help you.
%p Where should I start
%ul
  %li Scratch your own itch.
  %li Find a project you like and put your heart and soul into it. You CAN do it.
  %li All you have to do is do work and put in the effort.
%p NOBODY goes from 0 to 60 overnight. They get better by pushing themselves beyond their limits.
%p It is NOT easy. But it is not impossible either.
