%h2 Lightening Talks
%h3 Brian Carderella from the Democratic National Committee
%p Showing off a gem they made: client_side_validations
%ul
  %li binds ActiveRecord validations and binds them to jQuery on a particular form with a simple addition to the view and controller. Very Cool
%h3 Mikel Linar: How to kill Rails
%p Bad practices in the Rails community!
%ul
  %li Rails gives us a lot of responsibility, which is awesome.
  %li That means we can do more in the same time.
  %li Rails consults should not try to undercut your competition
  %li We should not underquote (PAD PAD PAD)
  %li Don't hide the costs to your clients. Be up front
  %li Answer your phone! Respond to your emails.
  %li Be clear and concise in your communication
  %li Figure out what your client really wants
  %li You have to be professional!
  %li Don't shit on other devs!
  %li Give out referrals.
%h3 Raimond Garcia
%p Democracy now in Spain! We need our votes to matter!
%ul
  %li They want to revolutionize democracy by making government responsible.
  %li populo.heroku.com - you vote on the proposals in congress and the representatives in congress vote on what you vote for on the site.
  %li Partido de Internet: a real political party in Spain. They are trying to change the way people engage with their government.
  %li Imagine a world where our votes really count. That is what they are trying to make a reality.
%h3 David Chelimsky (Mr. RSpec)
%p What's new in RSpec 2?
%ul
  %li It works with Rails 3!
  %li New command: `rspec spec`
  %li Module name: RSpec
  %li It is modular now: you can use other test libs with it
  %li rspec-core is built on micronaut
  %li micronaut has metadata, which lets you filter your tests! YES!
  %li Now you can do lambdas!!! <3
  %li RSpec is extensible. So RSpec-Rails is now just an extension of RSpec. Woot!
  %li there is near-zero monkey patching
%h3 surveyor: Mark Yoon
%p nubic (Nortwestern U.)
%ul
  %li surveyor serves up surveys in your app!
  %li gem "surveyor"
  %li rake surveyor
  %li Very simple DSL for making a survey.
  %li There are sliders, grids, multiple answers, add rows to fields
  %li They need help! Needs an admin interface, validations in the UI, and Rails 3 support.
%h3 There is a little bit of FUD around SQL here. (@igrigorik)
%p SQL is more flexible than a NoSQL design.
%ul
  %li SQL != Fixed Schema
  %li SQL != Inflexible
  %li gem em-proxy is an interesting bit for playing with SQL.
%h3 The Joy of Publishing Online
%p Michael Hartl, Rails Tutorial Book Author (railstutorial.org)
%ul
  %li Every tech book should have: a good TOC, numbered sections, figures, tables, source code highlighting, and lots of cross-referencing.
  %li PolyTeXnic: is valid LaTeX
  %li To Publish: `deploy projname`
  %li This makes the HTML and PDF exactly the same, and always published in sync.
%h3 ActiveMQ and ActiveMessaging
%p Jake Scruggs
%ul
  %li Why not use Resque or DJ?
  %li He works at a Java shop. And ActiveMQ is easy.
  %li ActiveMessaging pushes stuff to the queue.
  %li If you use this, you HAVE to set the prefetchSize to 1!
  %li Namespace your queues for great justice!
  %li Name your pollers, so you know which pollers to kill if shit hits the fan.
%h3 Greg Nelson
%p From USAID
%ul
  %li Africa is RIPE for help
  %li You can write software that can help
  %li Rwanda, for example, needs a lot of help.
  %li They don't need your money.
  %li We are not teaching people to fish.
  %li We are giving them closed software. That sucks.
  %li We need to give them open source software.
  %li We need to give them transparency and accountability.
  %li We need you. You can make a difference.
  %li USAID can pay for you to go and help out. So DO IT!
%h3 Hashrocket: Improv Comedy to Coding
%p Improv Everywhere pulls pranks on people. Good times!
%ul
  %li Programming is a very creative act.
  %li Programming is people problem.
  %li We choose Ruby because it is nice to read.
  %li Let's enjoy craftsmanship. Let's improve coding.
  %li NEVER say a person's idea is a bad idea. Build on their idea.
  %li Help out your buddy
  %li Bring a character to the table!