%h2 #JavaOne James Gosling, Robots, the Raspberry Pi, and Small Devices [Notes]
%i James Gosling, José Pereda, Johannes Weigend, Shai Almog, Jens Deters
%p Java can be used to program any number of embedded systems. James Gosling, the father of the Java language is using JavaSE embedded on ARM to power robots in the ocean to do research.
%p
	Also, it seems that the embedded comminuty REALLY LIKES
	%a{:href => "https://netbeans.org/"}Netbeans
	as an IDE.
%p
	Java works great on
	%a{:href => "http://www.raspberrypi.org/"}RaspberryPI
	hobby hardward boxes. RaspberryPis are cool because they allow you to rapid prototype hardware project for very low cost. There is a great library called
	%a{:href => "http://pi4j.com/"}Pi4J
	to help you write Java code on a RaspberryPi.
%p RaspberryPis are a great thing to play with your kids with. They are good tools to get your kids excited about programming and computer engineering.
%p Fun stuff!