%h2 Brûlons les musées
%i Jacob Thornton (@fat)
%p
  Jacob invented
  %a{:href => "http://twitter.github.com/bootstrap/"}Twitter's Bootstrap
%p All Jacob does is write libraries (that is awesome!)
%p He also wrote Ender, which is a JS package manger, and Hogan.js (a templating engine)
%p Zurich, Switzerland was like SXSW during WWI. :P
%p ...except they were all furious!
%p Libraries mark the end of prehistory and the start of history.
%p What about Programming Libraries? Check out "History of Programming Libraries."
%p The first programming library was written in the US Navy in 1944.
%p We have been using libraries for about 50 years.
%p jQuery has only been around for 6 years! Think how far it has come in that time?
%p New interview question: You have 45 minutes to rewrite jQuery. Get as far as you can get and start whereever you want.
%p ...so that is hard, but why not try it? Couldn't hear.
%p Starting over is SO HARD!
%p It is especially hard when you are starting over with what you only know from heart.
%p One of the cool things you can do when you start over and show off your stuff, and do it better, you can make all the tools better.
%p Competition makes things better.
%p When you redo everything based off what you know, things JUST GET BETTER!
%p We should come together around specs to make better tools. You can do it.
%p What if going forward we defined our libraries by their test suites, NOT THERE IMPLEMENTATIONS!
%b "We should burn all "libraries" that do not have unit tests." -@fat
%p Agreed.
