%h2
  Changing the world one
  %a{:href => "http://coderdojo.com/"}CoderDojo
  at a time
%i James Whelton
%p CoderDojo is an Irish led, global movement to teach young poelpe how to code.
%p Think of CoderDojo as Boy Scouts for nerds (read, awesome people)
%p CoderDojo is an environment where kids can ask questions, show off what they have done, and make awesome things.
%p Everything is open source at CoderDojos.
%p There are about 2500 kids that go to CoderDojos EVERY WEEK!
%p Thank G-d for things like CoderDojo showing the next generation just how awesome coding really is!
%p
  There are CoderDojo merit badges that use
  %a{:href => "http://blog.mozilla.com/blog/2011/09/15/openbadges/"}Mozilla's open badge format
  (and REAL badges), so you can become a BLACK BELT on coding. That is awesome!
%p When we were growing up, there was no place we could go to FIT IN. CoderDojo is a place where our kids CAN fit in.
%p CoderDojo Results
%ul
  %li Kids get praises for hacking things together!
  %li Kids coming from all different economic backgrounds are coming together and opening doors for themselves.
  %li Dojos are teaching kids so much more than we have in the public education system.
%p Rules:
%ul
  %li If you are 12 or under, you have to bring our parent with you. That helps kids be more comfortable asking questions
  %li Loose sessions, self-led learning
  %li Relaxed atmosphere. There are no time limits.
  %li There is one rule: Be cool.
  %li Keep money out of it. This is all about the learning, not the branding, not for the money.
  %li Get kids to bring their own laptops. When you are on your own machine, you feel more at home with your code.
%p what does it tkae to start a Dojo?
%ul
  %li Space
  %li Time
  %li Dedication to following through.
%p Yound people are doing amazing things in CoderDojos. It is astonishing what they come up with.
%p What does the future hold for CoderDojo? There is SO much. And it is time for YOU to get involved.
%p There are a ton of kids that NEED this.
%b Thank you. Thank you so much for making this.
