%h2 Diversity In Computing
%i Avni Khatri and Chris Williams
%p You do not have to live with the current state of diversity in computing. We are stil very white-male-dominated as a professional group. We need to make our industry a more welcoming one for women, minorities, and all those not like the rest of the field.
%p "People like to be around people who are like themselves," but when we are such a mono-culturer, we are losing a huge segment of the population that can and should be more involved.
%p We all come from different life experiences, and we as a community could be missing out on a very important perspective from another group.
%p studies have shown that when you have women in management, you have better retention of women programmers.
%p We have to look at the issues of diversity like we look at the open source community. We like to have our software more open, and open source makes your software stronger due to community involvement. The same is true with diversity. When you have a diverse team, your software gets better.
%p The number of women in computer science is declining, and as it declines, a downwards spiral occurs. We have to fix the problem at the root. When future developers are young. We need to get young girls more excited about computer science.
%p By doing workshops geared towards women, we can increase our numbers. Boston's python community doubled after introducing woman-centered Python workshops over a one-year period.
%p This will take time, and we need dedication to make it happen. Women don't have to choose computer science, but we DO need to make them aware that it is an option. We don't want women self-selecting out of computer science.
%p We should be the cataylst to get young women involved in making computing fun!
%p Check out mozilla's hackasaurus - make web inspector a fun game. http://www.hackasaurus.org/en-US/
%p Do this: Try going to a conference where you are a minority, and see how it feels. You will learn a lot.
%p It is our responsibility to make these issues known and improve upon them.
