%h2 Extending jQuery's Event System to Create Custom Events
%i James Greene
%p How can we add custom events to the jQuery event system. There is a jQuery special events API!!!
%p The Special events API allows jQuery to "fix" events that are not standard across browsers.
%p It also allows you to create your own events.
%p
  Ben Alman did a great write up on this at
  %a{:class => "http://benalman.com/news/2010/03/jquery-special-events/"}his blog
%p Remember, if you take over events, you shuld be a good citizen and return them to a known state when you are done!
%p Special events are not officially documented at this time, but it is still amazingly useful.
%p Special events API is a big dependency of jQuery Mobile. They use it for a lot of their APIs.
%p Thank to James for the great talk!
