%h2 My #JSConf 2012 notes compiled
%i Trevor Lalish-Menagh (@trevmex)
%p It was a great conf! Here are al my notes in one post:
%ul
  %li
    %a{:href => "http://trevmex.com/post/20356859412/jsconf-2012-session-1-notes"}Intel RiverTail AKA Parallel Extensions for JavaScript
  %li
    %a{:href => "http://trevmex.com/post/20358681895/jsconf-2012-session-2-notes"}JavaScriptCore Performance Work
  %li
    %a{:href => "http://trevmex.com/post/20360290747/jsconf-2012-session-3-notes-twitter-track"}The W3C Script Library Community Group/What is “grunt” and why should I use it for like, every JavaScript project, ever?
  %li
    %a{:href => "http://trevmex.com/post/20365464709/jsconf-2012-session-4-notes"}Diversity In Computing
  %li
    %a{:href => "trevmex.com/post/20367056045/jsconf-2012-session-5-notes"}Can V8 do that?!
  %li
    %a{:href => "http://trevmex.com/post/20369449312/jsconf-2012-session-6-notes-twitter-track"}Transforming JavaScript with Java like God intended
  %li
    %a{:href => "http://trevmex.com/post/20372727186/jsconf-2012-session-7-notes"}Creation of repl.it
  %li
    %a{:href => "http://trevmex.com/post/20375078177/jsconf-2012-session-8-notes"}Build Anything
  %li
    %a{:href => "http://trevmex.com/post/20376859816/jsconf-2012-session-9-notes"}ClojureScript
  %li
    %a{:href => "http://trevmex.com/post/20379439682/jsconf-2012-session-10-notes"}Modern Object Oriented Programming
  %li
    %a{:href => "http://trevmex.com/post/20414903090/jsconf-2012-session-11-notes"}The Web Game Console
  %li
    %a{:href => "http://trevmex.com/post/20415951225/jsconf-2012-session-12-notes"}AppCache: Douchebag
  %li
    %a{:href => "http://trevmex.com/post/20418203891/jsconf-2012-session-13-notes"}JS on the GPU
  %li
    %a{:href => "http://trevmex.com/post/20419681173/jsconf-2012-session-14-notes"}REDACTED
  %li
    %a{:href => "http://trevmex.com/post/20423663167/jsconf-2012-session-15-notes"}Roy, a small functional language that compiles to JavaScript
  %li
    %a{:href => "http://trevmex.com/post/20427631034/jsconf-2012-session-17-notes-track-b"}Splunk + JavaScript: bringing your data to life
  %li
    %a{:href => "http://trevmex.com/post/20431292043/jsconf-2012-session-18a-notes-track-b"}The World after Rails
  %li
    %a{:href => "http://trevmex.com/post/20432172445/jsconf-2012-session-18b-notes-track-b"}Extending jQuery’s Event System to Create Custom Events
  %li
    %a{:href => "http://trevmex.com/post/20434021022/jsconf-2012-session-19-notes"}Changing the world one CoderDojo at a time
  %li
    %a{:href => "http://trevmex.com/post/20436455572/jsconf-2012-session-20-notes"}Brûlons les musées
  %li
    %a{:href => "http://trevmex.com/post/20439673596/jsconf-2012-session-21-notes"}Politics
%p I hope some of you find these notes useful. I had a great time at the conference! Thanks to all the speakers and attendees!
