%h2 Modern Object Oriented Programming
%i Daniel Henry Holmes Ingalls, Jr.
%p OMGWTFBBQ, that's the guy that invented Smalltalk!!!
%p ...AND BitBlit!!!
%p double &lt;3!!!
%p What if you wanted to do something like skeak/smalltalk in JavaScript? That is a full working environment for JavaScript in JavaScript.
%p
  %a{:href => "http://lively-kernel.org/"}The Lively Kernel
  is a lot like squeak, but for the web!
%p The Lively Kernel reminds me a lot of GameSalad. Why don't we write our graphic programs in a raphic way? With Lively Kernel, you do!
%p
  Or actually, it looks a lot like
  %a{:href => "http://www.pharo-project.org/home"}PharO
%p EVERYTHING is changable. and why not?
%p ...you need to watch the video of this talk when it gets up on the web. I wonder if this is how we will be coding in the not too-distant future (next Sunday AD)
%p
  Also check out
  %a{:href => "http://vimeo.com/36579366"}Bret Victor's talk on IDEs
%p It is hard not to love this stuff. :)
