%h2 Politics
%i Rick Falkvinge (@Falkvinge)
%p
  Rick is the founder of the
  %a{:href => "http://www.piratpartiet.se/international/english"}Pirate Party
%p The Pirate Party loves the net, copying and sharing, and civil liberties.
%p The Pirate Party have 2 seats in the European parliment, 15 seats in the Berlin parliment, and 150+ local representatives. That is HUGE!
%p "Decenting is ALWAYS legitimate." Protesting is not bad.
%p Many parties have STARTED with protest:
%ul
  %li 40 years ago: the green party
  %li 80 years ago: the workers party
  %li 120 years ago: the liberal party
%p Openness and free speech is at the top of the agenda for 17-year-olds today.
%b a.k.a "LEAVE THE NET ALONE"
%p Worldwide we are seeing countries all over the world threatinging freedom of speech on the internet.
%ul
  %li In the US, we say terrorism is the reason to control the internet.
  %li In China, it is national security
  %li In the Muslim world, it is defacing the profit
%p We are demanding all the rights WE have offline for our children online.
%p The world is no more dangerous than it was in the 1980s. Back then they had the BOMB to deal with.
%p The net is the greatest equalizer that mankind has ever invented. With a cheap comouter and an internet connection, a 9-year-old girl in Uruguay has as much of a voice as a 1%-er in Wall Street.
%p Politicians aren't evil. They are using their knowledge to make the world a better place, but they don't know everything, so they ask people. And lobbyists are ones that speak the loudest.
%p In their first election, the pirate party got 0.63% and finished in the top ten in Sweden.
%p They became the largest party in Europe for people under 30, and in the EU elections they kicked out people in power that didn't understand the changes in the world.
%p "When push comes to shove, you gotta do what you love &emdash; even if it's not a good idea."
%p "If it's stupid but works, it ain't stupid."
%b People aren't evil. You're worst enemies are nbot evil. They are doing their best in their frame of reference.
%p You need to be credible, inclusive, and tangable to make real change in the world.
%p That means that you have to take action to change things. You have to accept people, and you have to BELIEVE that YOU can do it.
%b Believe.
%p There will always be people that want to pul you down, saying that it will never work.
%b Don't believe them. THEY ARE WRONG.
%p A swarm of people is empowered, ust ike the net.
%p Everything you know about Open Source / Free Software applies to politics. So use that knowledge.
%p Change does not just happen. Someone makes it happen!
%p Thank you to Rick for the really empowering speech!
