%h2 REDACTED
%i
  %a{:href => "http://bike.sh/"}Project Bikeshed
%p Bikeshed is all about converting Flash into JavaScript. Getting ActionScript hawtness into JavaScript.
%p So what is it really? It is a flash-like interface for JavaScript all in the browser. This is pretty amazing. It gives us the power of Flash without Flash. Finally we will be able to make cool games, videos, ads, etc. without depending on Flash.
%p (A lot of the awesomeness of this talk is the demo. Make sure to check out the video when it comes out.)
%p Bikeshed.js allows you to build and design HTML5 games much easier than raw coding by hand.
%p One of the cool things about this is that you can take existing flash content and convert it to bikeshed.js.
%p The real point about Bikeshed is about tooling. Bikeshed is a web-based Flash-like IDE. And for JS (and any HTML5 goodness) we need to really level up our tooling. That should be the moral of the story here.
%p Bikeshed.js is opensource. Follow #bikeshedjs for release info.
%p Bikeshed.js converts .swf files into JavaScript for use as HTML5 video. That is awesome!!!11!!!
%p Thanks for the great demo!
