%h2 Splunk + JavaScript: bringing your data to life
%i Itay Neeman
%p Splunk is designed to take unstructired log data int something that you can analyze easily.
%p You can access splunk data in JavaScript using Node.js. The Splunk REST API is very accessible.
%p Splunk is launching Storm, which is Splunk in the cloud, so you can access splunk data without having splunk servers onsite.
%p We use Splunk at work a lot, and it is extremely useful for tracking our servers. I cannot recommend it enough for shops with large traffic. Good stuff!
%p Thanks to Itay for the talk!
