%h2 The Web Game Console
%i Thomas A. Valletta (@tvalletta)
%p Smart phones are, by far and away, the largest game console EVER sold. And if you combine that with other web consoles, building games on the web have the potential to be the next generation of gaming.
%p On the client, all you need is HTML5 and CSS3 transforms. For mobile apps, you need access to the accelerometer and the gyroscope, which there are DOM hooks for.
%p HTML5 Canvas and Box2DWeb are your friends when making web games. They are pretty easy to get started with, and Box2DWeb has a built-in game loop.
%p
  Check out the bowling demo at
  %a{:href => "https://github.com/tvalletta/web-bowling/wiki"}the wiki
%p The good of mobile web dev:
%ul
  %li No IE6!
  %li Device lifespan is really short (so you can depend on cool new features, and not worry as much on backwards compatibility.)
%p The bad:
%ul
  %li The tools suck (winerie is kind of good, but still tough to use)
  %li Offline is really difficult to code for when you are doing web coding. The iPhone was designed to do this...but it doesn't work. (Chrome Beta is working on this)
%p WebGL is available on iPhones...but ONLY on iAds, that is dumb Apple. Come on!
%p When you re-open the safari browser on the iPhone, the page always refreshes (boo!)
%p We really need to fix the App cache to improve this refresh issue.
%p The browser is bound to the OS...on Windows, MacOS, iOS, and Andriod. What the heck!
%p Opera Mobile, and Firefox Mobile are the most compatible with HTML5, but Chrome is moving on up.
%p Let's keep Mozilla honest with Boot2Gecko. Keep the app store free!
%p Thanks to Thomas for a great talk!
