%h2 The W3C Script Library Community Group
%i Mike Taylor and Rick Waldron
%p
  %a{:href => "http://www.w3.org/community/scriptlib/"}The W3C ScriptLib ML
%p Get involved withthe W3C Script Library Community Group. The goal here is to get a JS community of practicegoing within the W3C.

%h2 What is "grunt" and why should I use it for like, every JavaScript project, ever?
%i Ben Alman
%p Grunt is a command-line tool to make JS projects.
%p
  %a{:href => "http://weblog.bocoup.com/introducing-grunt/"}Introducing Grunt
%p
  Ben started using make files, but the got complicated fast., so he moved to
  %a{:href => "http://cappuccino.org/discuss/2010/04/28/introducing-jake-a-build-tool-for-javascript/"}jake,
  but jake still had lots of boilerplate, a lot like make, so bleh.
%p grunt lints your JS, runs all your unit tests, minifies, and tells you what you are doing wrong.
%p there is a "grunt watch" tool that allows you to have grunt run all the time when you are writing code. Nice!
%p there is a GREAT "grunt init" command that will generate boilerplate code for creating certain types of JS projects, like a jQuery plugin.
%p Grunt really brings JS-only projects up to the level of Rails-like command-line integration. Great job!
%p It also gives you boilerplate unit tests. SO START WRITING UNIT TESTS, DAMNIT!!!!!!
%p ...and documentation, SO WRITE DOCUMENTATION!!!!!
%p "It's like Ruby on Rails for JavaScript" Thank you scaffolding.
%p jQuery UI just moved over to grunt from Ant. People are saying it is faster than make (heart!)

%b great talks. Thanks to Ben, Mike, and Rick!
