%h2 Can V8 do that?!
%i Vyacheslav Egorov
%p Contributing to V8 is not scary! You can do it.
%p V8 does not hide the code that V8 generates. You can look at it. (but you have to compile V8 to get the decompiler)
%p ...OMG. This is some crazy assembly stuff here. I cannot do it justice. This talk is a serius deep dive on the V8 internals.
%p /me cries.

