%h2 Richard Stallman Speaking at UPenn
%i 2011-04-20
%h3 A Free Digital Society: The threats to a free Internet user.
%ul
  %li
    %h4 Surveillance: The Internet makes it easy to spy on users.
    %ul
      %li Your phone can tell people where you are.
      %li Your PC can tell people how you use your computer.
      %li Your microphones can be tapped to get your voice conversations.
      %li In some countries, your ISP will collect information from you.
      %li The Pat/Riot Act allows the FBI to collect ISP information without your knowledge.
      %li In the UK, all traffic patterns and cars are tracked.
      %li In the US, GM cars, Zipcars (maybe?), and some rental cars use cell phones in cars to track every car they use.
    %p "It is every citizen's duty to poke Big Brother in the eye."
    %p "The term 'child pornography' is a lie. There are places in the US that allow 17-year-olds to have sex, but not to take pictures of it."
    %p How about 9/11? What is worst: the 3500+ that died on 9/11 or the 48,000+ that died in the resulting wars.
    %p Cars kill about 4000 ppl. per month. Why isn't there a global war on car accidents?
    %p DON'T BE STAMPEDED TO GIVE UP YOUR PRIVACY. Your liberty is more important than that.
    %p "Child pornography is a great excuse to make broad sweeping laws (source?)"
    %p "You shouldn't ever take Amtrak, take a bus instead. Amtrak checks IDs." Push back and stop Amtrak from checking IDs (check out "Longest Day" for details).
    %p You can control the surveillance on your OWN computer, but you have no control over that which is outside your control (i.e. ISP)
    %p In France it is illegal to be on the street with your face covered. The given reason is to "protect" women from the oppression of burkas...but that might be a front.
  %li
    %h4 Censorship: The Internet can be censored quite effectively.
    %p Countries like China and Iran do a great job censoring websites.
    %p The first rule of censorship is that you do not talk about censorship.
    %p Even Denmark has a censored website list, which was leaked on WikiLeaks.
    %p Australia fines companies that have subversive political links on their sites.
    %p Spain recently passed a law that allows websites to be shut down sans trial, same in France.
    %p The US Government is considering laws to shut down websites in other ways.
    %p The idea that in a free country the Internet is not to be censored is dying.
    %p It is common in the UK to be charged with "possessing information.
    %p If we want information to be FREE, we have to FIGHT for it!
    %p Do not be deterred by the bogymen.
  %li
    %h4 Restrictive media formats
    %p Some of these formats are secret, like MOV, etc.
    %p The Italian government has a video format called VC1 that is secret.
    %p Hulu uses a secret video format as well, using DRM.
    %p A lot of programs use secret formats that limit interoperability, which isn't the best idea.
    %p Patented formats also pose a problem: MP3, MP4, AVI. You can get patent infringement for hacking them.
    %p Either the user controls the program, or the program controls the users.
    %p If the users do NOT have control of the program, you have non-free software, which means the users are always beholden to creators of the program.
    %p Users should be free to use, study, modify, and distribute all software.
    %p Non-free software can take away your freedom of speech.
    %p If you have no control of the source code, you cannot have the power to change it. So someone else controls you.
    %p If you cannot give out your modified versions of the software, you cannot share your knowledge with others.
  %li
    %h4 Non-free software in the webpages we visit
    %p Many sites will install JavaScript on your system that is not free. (???, Trevor says: but you can't hide JS, obscure it yes, but...)
    %p Turn off JavaScript if you don't know that the JavaScript is free.
    %p Software as a Service (SaaS) is a bad thing because it does work on a service that you do not control, therefore you do not have the ability to read and modify that code.
    %p SaaS can also have surveillance and back doors that are outside of your control.
    %p "Microsoft Windows is malware" - it has a back door that allows it to install whatever M$ wants at any time.
    %p SaaS is like always having a back door, since you are allowing someone else to do your computing for you.
    %p Google Docs is an example of a SaaS that makes you lose control of your computing.
    %p SaaS can also misuse your data. You have to ask yourself, "Who is going to get my data?" This is a big problem for private data, but not so much for public data.
    %p You shouldn't rely on your data being on another person's data store (i.e. using Gmail for email. If Gmail goes away, you are up a creek).
    %p "Facebook is not your friend" Facebook's business is to collect YOUR data and do nasty things with it. Don't use Facebook.
  %li
    %h4 The War On Sharing
    %p Digital technology makes sharing and copying very easy.
    %p To attack sharing is to attack community. And that is very anti-social.
    %p Information wants to be free.
    %p Only draconian and vicious methods can work to restrict sharing.
    %p DRM is the equivalent of digital handcuffs.
    %p DVDs were the first we saw of this. DVD formats were kept secret. It is a shame.
    %p Conspiracies to keep these things secret should be a felony, but just the opposite it true in the US.
    %p "In the US, laws are for sale for the companies that are the biggest."
    %p The banks and the oil companies have SO MUCH power that nothing can be done to protect us from them.
    %p The Digital Millennium Copyright Act made it illegal to share certain digital things (music, etc.) at all.
    %p iTunes with their DRM is a bad thing. Not cool.
    %p Streaming audio from the Internet that CANNOT be saved locally and is in a proprietary format is a badness. Streaming services chain you to their streams.
    %p If you cannot own your content, you lose to power.
    %p eBook is a book in a digital format, but in fact eBooks are a way to take away readers rights.
    %p With the Amazon Swindle(sic), you are not allowed to buy a book.
    %p eBooks cannot be shared. You cannot "buy" an Amazon eBook, you can only have a license to read a book.
    %p There is a back door in the Swindle that allows them to remotely delete eBooks that are bought.
    %p Amazon did just that with...wait for it...1984 (irony!)
    %p Then Amazon said that they would never do that again (unless the state tells them to...great. :P)
    %p So don't let your friends buy a Kindle. It is a bad news device.
    %p Check out "DefectiveByDesign.com" to protest DRM!
  %li
    %h4 Precarity: Whatever you do on the Internet, you do not have the right to do it.
    %p You have the right to write something and make photocopies of it and hand it out.
    %p On the Internet you have to have PERMISSION to share your information. You have to have the agreements of all the companies in the chains of communication of the Internet to allow you to have your information to be available.
    %p WikiLeaks is a great example. The US Government when to the ISPs and told them to stop hosting them. This happened with Amazon's hosting of Wikileaks. The Gov't asked Amazon to shut them down, and they did.
    %p In the real world, you could just hand out the information. On the Internet, you cannot do that.
    %p In the real world, you can give and receive money freely.
    %p On the Internet you HAVE to have permission from a company to give and receive money.
    %p We have to protect our freedoms to do what we can do in the real world, on the Internet.
%p The GNU Operating System was announced in 1983 in an attempt to make a wholly free OS.
%p You pronounce it "Gu-new"
%p Also it is not "Linux," This is just the kernel. "GNU/Linux" is the free OS, with the Linux kernel in it. Linux is just one piece. Please call it "GNU/Linux."
%p Schools should teach free software exclusively.
%p Many proprietary software companies give schools gratis copies of their software to get students hooked, then when they leave university, they have to pay. Proprietary software vendors are like drug dealers in this respect.
%p SCHOOLS SHOULD NOT TOLERATE NON-FREE SOFTWARE!
%p By teaching proprietary software, we are teaching dependency on software they cannot change.
%p "Good software is software that is easy to read."
%p You have to write small changes in large programs to become a good programmer. The only place you can do that is in free software.
%p There is also a moral imperative to free software in schools. Free software means that you can share and learn from that software. Proprietary software will never allow that.
%p You HAVE to be firm in your resolve to use free software. You should be willing to go out of your way to use free software, even if it takes you more time.
%p Thanks to RMS and the FSF for the great talk!
