%h2
  \#Agile2014 -
  %a{:href =>"http://www.eurohr.eu/pdf/Bjarte_Bogsnes.pdf"}Beyond Budgeting - an Agile management model for new business and people realities - the Statoil implementation journey
  (Notes)
%i Bjarte Bogsnes
%p You can be as agile as you want at your team level, but once your hit the enterprise level you will hit a wall. Scaling agile is hard, and scaled agile might not look a lot like agile at all.
%p
  %a{:href => "http://bbrt.org/beyond-budgeting/bbwhat.html"}Beyond Budgeting
  is a methodology to scale an organization without falling into the trap of a command-and-control culture.
%p Budgets are often a very bad yardstick for evaluating performance. Budgets and traditional management can be a big barrier to improving performance.
%p
  %a{:href => "http://www.amazon.com/Human-Side-Enterprise-Annotated-Edition/dp/0071462228"}The Human Side of Enterprise
  teaches us that there are two theories of how people get motivated.
  %a{:href => "https://en.wikipedia.org/wiki/Theory_X_and_theory_Y"}Theory X and Theory Y
  tell us that people are motivated with strong control and rules (X) and people are motivated by being given power and freedom (Y).
%p Beyond Budgeting is all about moving your processes towards a dynamic style and your leadership towards a values-based system.
%p
  Statoil explains their system in
  %a{:href => "http://www3.statoil.com/StatoilBook/ENG/index.htm"}The Statoil Book
%p
  Beyond Budgeting was pioneered by
  %a{:href => "http://aaahq.org/mas/MASPAPERS2007/case_session1/Svenska%20Handelsbanken.pdf"}Handelsbanken
  back in the 1970's
%p Beyond Budgeting is NOT no budgeting. You have to figure out how to allocate resources, but it is given a disproportionately large role in business.
%p A budget is a target, a forecast, and resource allocation. The first step is to separate budgeting into these three steps, and then focus on improving and optimizing each individually.
%p "Do I have the budget for this?" is the wrong question. Ask "is this really necessary?," "What is good enough?," "How much value is this creating?," "Is this within my execution framework?"
%p We want to move away from traditional detailed and annual budgets and towards a budget that increases autonomy and flexibility.
%p
  We want to make our decisions at the
  %a{:href => "http://blog.codinghorror.com/the-last-responsible-moment/"}last responsible moment
  \.
%b Simple is not the same as easy!
%p Moving towards a more dynamic mode is an attempt to simplify, but it certainly is not easy.