%h2 #Agile2014 - Best Job Ever (Notes)
%i Diana Larsen
%p Check out "The 3rd Guy" by Seth Rogen. It talks about the concept of leadership through the analogy of the guy that starts a dance party.
%p A leader needs first follower. One person alone it not a movement. The first follower does not make a movement. It is the third follower that really makes a movement.
%p Dance is a metaphor for leadership. Think about your work as a type of dance. A dance of people moving and working together.
%p Check out Benjamin Zander's "The Art of Possibility." You know when you have awakened people because you see their shining eyes.
%b I want you to love your work.
%p _Real_ work is hard, exhausting and miserable. This mentality is...horrible. There was a concept in previous generations that stated if you were not sweating and struggling, you are not doing _real_ work. Let us all hope that we have moved past this mentality.
%p That old mentality states that you work for the paycheck. You do not LOVE your job. You work for the weekend. ...well that is a crappy idea. Why the hell would you want to spend a third of your life being crappy.
%p Why does agile matter? - With agile concepts, what we are really saying is that we should care about PEOPLE at work. The people matter, and when you develop your people, instead of grinding them to death.
%p It is hard to fall into a job that you love. You have to _create_ the job that you can fall in love with.
%ol
  %li Doing work you love to do
  %li Work with purpose
  %li Working and caring for your tribe
%p Doing work you love means thinking "I can't not do this." When you think about retiring from the work you do, and you can't think of anything better to do with your life.
%p You love your job when you would rather do this job and fail than do something else.
%p Too many people say, "at least my job sucks less..." THAT is not work that you really love.
%p Edgar Shine, StrengthsFinder 2.0, etc. - On-line tools like this can help you understand yourself better.
%p Talk to your friends and co-workers. Share your stories with other people. By sharing your stories, you can better discover what YOU care about.
%p Think about what you do when your time is your own. What did you do when you could do whatever you wanted? When you were young, and did not have any other commitments. That is your true self. That is what you should seek out as a career.
%b The best job ever required work you love to do.
%p Work with purpose! - You can use the 5 whys to find the purpose of your work and why it is important to you. Start with the question: why do I do what I do? And you can keep asking yourself why until you find your REAL purpose.
%p It is helpful to find another person to ask the five whys to.
%p You spend SO much time at work that you NEED it to be a happy healthy place to be.
%b Teams need purpose, too!
%p Purpose has to be the foundation of a team. If a team doesn't have a charter, doesn't have an answer to the question "why?," they can be lost. Or at least, they're love of they're work is lost.
%b It is helpful to know how _you_ are going to change the world.
%p Purpose inspires, focuses and motivates.
%p Purpose scales. When you have a purpose that connects you with others, your purpose grows.
%p In order to find purpose, you have to find meaning in your work. You have to know and deeply understand how your work affects other people.
%b Working on working together is the best team building we have ever done.
%p Finding the team that is your tribe is a primary goal of finding the job that you will love.
%p Trust is the bedrock of any team communication. You team members HAVE to trust each other. You can start by trusting first. Figure out what trustworthy people in your team do and gravitate towards that.
%p Start your meetings with appreciations, and end them with hopes and wishes. That can help you connect and humanize your team members.
%p After trust comes commitment. You have to be committed to the wellbeing of the team. And when you know that your teammates are committed to you and you are committed to them it builds trust.
%p Grab a chance to support your tribe. Commit to, not only your work, but your people. Commit to the other humans on your team.
%p From commitment comes the ability to handle conflict. Being able to get through conflict is one of the most important skills a team needs.
%p Only from conflict can creativity be born. And conflict cannot be bared without commitment, and without trust commitment can never be formed.