%h2 #Agile2014 Cost of Delay workshop (Notes)
%i Joshua Arnold, Ozlem Yuce
%p
  This workshop ran through exercises from the
  %a{:href => "http://blackswanfarming.com/cost-of-delay/"}Cost of Delay
  concepts on the Black Swan Farming website. Good stuff, worth checking out!