%h2 #Agile2014 - De-scale Your Organisation! (Notes)
%i Olaf Lewitz
%p Increase trust -> Invite people to make choices -> Reduce org structure -> Repeat
%p "Normal" is something very very individual. We often start out life very curious and eager to learn. We then copy behaviors from others, and our definition of normal mutates.
%p Most of the patterns we pick up, we pick up before our birth and in our early childhood.
%p We should change our model of learning from "seeing" to "touching." When you use the metaphor of touch, you get the concept of connection to others that you do not get with the metaphor of sight.
%p It is important to give your peers and clients a choice. A choice to stay the same, or to change.
%p "Fanatism is redoubling your efforts when you have forgotten your aim." - George Santayana
%p We often, in the agile community, forget our aim and fall into the trap of redoubling efforts around tools and processes.
%p "The reality is that scaling agile doesn't work." ...or at least the way we are doing it right now doesn't work.
%p What do you mean by scaling? - Taking the processes that make a team succeed scale to the entire organization.
%p A large part of the work in a large organization is all about covering your ass (CYA). When your corporation is founded on a series of lies, it will fail.
%b The problem is that Agile is not a process. You cannot cut-and-paste it. Agile is about challenging the way we do the things we do and change them.
%p We are always trying to manage scarcity, no matter how abundant our systems are.
%p We humans have a fundamental conflict of wanting to be a unique individual and wanting to be accepted and loved. Because of this we invent false identities to use in groups. We sacrifice authenticity for attachment.
%b Most of us have dealt with skeptics and cynics. We often fall into their patterns to feel safe and belong, but this is POISON to a healthy life.
%p You deserve to love what you do. So, why is this so damned hard? Because, most of us accept the love we think we deserve.
%p Life is full of ambiguity, and ambiguity makes us, as humans, very very scared.
%p When you are in an environment that allows you to get empathy and compassion and you receive empathy and compassion, you have a space that values trust.
%b Fear is not a good state to be in.
%p A lot of conflict comes from fear, nothing more. This type of conflict is bad and unhealthy.
%p When you realize that everyone has fear, fear of rejection, fear of shame, you can start to develop empathy.
%p We are primed to judge ourselves and others. We we judge others and other judge us we formate a culture of shame. And shame leads to fear.
%p When everything you do or say is categorized as right or wrong, you shut down.
%p "Right, wrong, better, worse, good, bad" - These are all words that shut down others and hurt your relationships.
%p Look into the context of a situation, only within a context is judgment possible.
%p Software is not limited by very many boundaries. Your framework or system is not limiting your software.
%b The word "Engineering" is limiting our thinking about how we create software. It is an unneeded bounding box.
%p We pick operational role models that are available to us.
%p Management was born in slavery farms in the US south. Management was formally invented in 1911 to say that we will pay same people (managers) to think, and everyone else (the workers) to never think.
%p Toyota killed management in 1970 when they required all of the workers to THINK.
%b Micromanaging managers are not needed in software.
%p Is management, measurement and estimation relevant now? The answer to all three is NO. The problem is that we are so afraid to question that, we do not change.
%p How do we realize that amongst this fear? - We experiment, and move slowly.
%p Don't throw away your models, but add mysteries to your models. Models are rigid and fixed. They don't change, but we DO change.
%b The way we think about software development limits or thinking.
%p We value people.
%p Nothing is more powerful on the planet than a team with people that know what they want, and know what others on the team want.
%p Create a KrisMap - Create a persona of the team that defines the team by asking them who they want to be.
%p "Scrum takes all of the shit that is under the carpet and throws it in your face!" ...you can choose to put it back, but you can also choose to clean it up.
%p Politics tax: the percentage of time people spend on covering their asses. - This is where most of the waste in your organization occurs.
%p Stay weird. Be awesome. You are a good person. You have value.