%h2 Leadership at Spotify
%i Anders Ivarsson, Kristian Lindwall
%p
  %a{:href => "http://ucvox.files.wordpress.com/2012/11/113617905-scaling-agile-spotify-11.pdf"}Scaling Agile @ Spotify: Tribes, Chapters and Guilds
%p At Spotify they organize around squads. Squads need to be highly efficient, vision, autonomy, personal growth, learning and alignment with the business.
%p Each squad completely owns a part of the product completely. There are three types of squads: Feature squads, container squads and infrastructure squads.
%p The product owner is part of the squad, but focusing on the question: what do we do and why? How do we align with the other squads and the rest of the industry?
%p Product owners do four things: Work with the world, work with the product, work with the squad and work with the process.
%p Agile coaches are all about improving squads. They concentrate on growing high performing teams, continuous improvement, ways of working and collaborating.
%p All the agile coaches perform one-on-one coaching with all levels of employees.
%p One of the things that the coaches discovered is that the squad members had no idea what they would be working on in two weeks, so they started to do Squad Road-mapping using a drawing of a road and a bus on that road. Visualization is key.
%p A chapter is a group of people that are in squads (which are cross-functional teams), but are the communities of practice for the organization. For example, there can be a tester chapter, or a front-end chapter.
%p A chapter lead guides development practices, helps to manage tech debt and assists in hiring.
%p Chapter leads spend 50% of their time in a squad and 50% of their time operating as chapter leads, but it is not a hard and fast rule.
%ul
  %li The first thing that happens when you create a new team is they start to form. This is also called the honeymoon phase.
  %li The next phase is a phase of conflict in the team, where disagreements arise and have to be sorted through.
  %li If the team makes it through conflict they start to develop trust and caring for each other. This can make a team feel like the rest of the organization is "them" vs. the team being "us."
  %li If the team can break through the us vs. them mentality, then they can gel into a high-performing team.
%p Only teams that have reached that final stage, can they become truly autonomous teams. Which is the true goal.
%p So...how do you have high-performing autonomous teams...WE DON'T KNOW...but we WILL experiment!
%p The problem with teams that are TOO autonomous is that they can quickly fall out of line with the vision of the organization.
%p Why do we have teams leading teams? - Bad manager < Dysfunctional leadership team <  Good manager < Strong leadership team.
%p The key is growing a good leadership team. That is the crux of the problem. Once good leadership team often fall into "old boys clubs."
%p Tribes are groups of squads and chapters that work together towards a greater goal. The diagram seems easy, but the reality is much more complex.
%p The Spotify reporting structure is NOT flat, but the lines of communication ARE flat-ish. The squads and structure of the system itself evolved over time and continues to evolve. The structure has to be fluid enough to allow for evolution.
%b No Friday releases!
%p Squad (read: team) health checks are a great way to have a general understanding on which teams in your tribe (read: organization) need help.
%ul
  %li Have a really fun workplace.
  %li Embrace failure. Make it safe to fail without fear.
  %li Build a culture where your employees are cared for.
  %li Only with those three, can you actualize high self-esteem and creative fulfillment which lead to high performing teams.
%p Remember, you cannot just cut-and-paste "the Spotify model." It grows out of a greater cultural environment. You have to build culture first.