%h2 #Agile2014 - Women in Agile (Notes)
%i Diane Zajac-Woodie, Doc Norton
%p Are agile practices guilty of gender bias?
%p We all have hidden biases that start when we are babies. The goal is to realize they exist to make them not hidden.
%p There is an empathy gap in our society. We underestimate the failing of people that are going through things that we have not gone through before.
%p We are surrounded by images of strong successful powerful men, and hyper-sexualized women.
%p We favor the familiar over the novel. This helps to explain why we are more uncomfortable with conflicted gender roles (e.g. a boy playing with a doll).
%p The media is a big part of creating this gender bias. Our society trains our girls to be either nurturing or attractive, that is the only options they have.
%p We learn social norms for gender very early on in our lives. At a very young age, we start to realize the patterns.
%p We inadvertently teach our girls that they should not be strong, smart or opinionated.
%p When members of a group are made aware of a negative stereotype they do worse on tests. Just the reminder that the stereotype exists affects results.
%p Imposer syndrome impacts about 70% to 75% of the population, and it is especially prevalent in women.
%p When a woman has to get up in front of people, they tend to feel much more uncomfortable taking credit for their own capabilities. To that point, they often don't ask for their fair share of pay when the time comes as well.
%p Women are less liked when they don't fit the female stereotype. This is true for both men and women.
%p Women are interrupted MUCH more often by men AND women in the workplace.
%p Men speak 75% more than women do. Having the seat at a table is NOT the same as having a voice.
%p We have listener bias in the sense that we feel women talk more, but that is not really true.
%p This bias implies that women's opinions tend to be ignored more often.
%p What all this leads to is a diminishing of women in the workplace. We marginalize women, which makes us lose the power of half the population.
%p When all these biases combine, women get overlooked.
%p Women pick mentors, men pick sponsors.
%p Are agile teams different? Does the agile mentality make women more equal? Less? Or the same?
%b Stop apologizing when stating your opinion.
%p Using a speaking token can help give more control to team members at to stop people from interrupting each other.
%p When pairing, women should NOT have to always come over to a man's desk to pair. It should be equal.
%b Stop interrupting women (or anyone for that matter)!
%p
  %a{:href => "http://www.comicsbeat.com/wp-content/uploads/2011/11/avengers_booty_ass_emble_by_kevinbolk-d4hb4xl.jpg"}Practice gender flipping.
  Would you say what you are saying to a woman to a man?
%p Stop reminding women that they are women!
%p Use gender-neutral pronouns - "they" FTW!