%h2 #Agile2014 "No Silver Bullets: What Worked for Them May Not Work for You." (Notes)
%i Esther Derby
%p "At one point programmers always did testing." Those were the days...
%p Our environment greatly affects our work and life. Shaping that environment is at the heart of agile.
%p When people talk about agile you often hear two things: "it only works in small companies" and "you are doing it wrong." Both concepts are silly. you can do it right AND at scale. Also, it is almost never wrong. Agile is not about the methodologies, it is about getting stuff done.
%p Starting with capability is often the worst place to start when it comes to bringing agile to a company. What matters is values. When you start with capabilities, you run into contradictions. When you start with values, you can reduce those contradictions.
%p Benchmarking can be a trap. You can often just copy the surface practices and not go deep by worshiping the benchmarks.
%p The replica trap - just by doing the same thing everywhere in your company will just work. Incorrect! One works for one team often will not work for another. Just because one team works well, does NOT mean that you can take that team's process and graft it onto others.
%p In reality, our organizations are more like snowflakes. Every team works differently, and in fact, even when one member joins or leaves a team the team's pattern changes. Agile is not about the methods. It is about adapting to these team changes.
%p Teams work the best when refining their solutions. What you read about in books are the final end states and the methods they came to, but in reality, those teams experimented a lot, made a lot of mistakes, and found the solution.
%p Agile by the book is a mistake. You can start by the book, but you HAVE to adapt. Do not follow agile mindlessly. That is not agile, that is rigid. You need to be fluid like water.
%p It is a shame that we have a doer culture, that devalues thinking about issues.
%p You need to answer this: "What problem are you trying to solve?" You shouldn't follow a rule for no reason. Always ask the why? State the problem as DATA, not value statements. Data is king.
%p Typically in an organization, we are looking at the events that are coming at us everyday. We are largely reactionary. But to really understand a problem, you have to look PAST the events and see the patterns. When you look at the patterns, you start to see where the real problems bubble out.
%p It is very important to be able to visualize your system in pictures to better see those patterns. This is a great thing to do in a sprint retrospective.
%b If you stop working on stuff that is not going to be used, you can increase the effort on what your customers do use.
%p You can use agile to get faster feedback from your customers, because often your customers tell you they want something, but in actually it is not REALLY what they want. Large requirements documents can create this disconnect. Small incremental changes make that feedback loop shorter.
%p What environment are you trying to create? You have to answer this question before you can shape a culture in your organization. You cannot just find an answer to your problems, you have to take care to build the environment you want that solution to live in.
%b P = f(pr1, pr2, e)
%p Performance is a function of the principles, the practices and the environment of an individual. It is NOT ONLY about the practices. The HOWTO is only one part of the equation. You cannot forget the principles underneath the practices.
%p We have to start with the respect for people when implementing practices. When you use a practice and divorce it from the principles that made the practice possible, you end up with an abomination.
%p "If we aren't pushing employees, they won't work." - Bad managers everywhere.
%p Great managers deeply understand their employees and learn to motivate each and every one in a different way. Often times pushing employees to "work hard" is not a great way of motivating anybody.
%b Pay attention to what people say. THAT is how you will learn people's values.
%p Cynicism and fear are the enemy of good values. Writing down your value statements and posting them everywhere in your office is a GREAT way to increase both cynicism AND fear.
%p Benchmarking often goes wrong when your benchmark the practice the PRACTICE without taking in consideration of the environment and the principles. You have to know the environments that certain practices are successful in. That makes benchmarking harder, but more useful than assuming every organization is the same.
%p Look at the principles behind the practices you use. If the principles behind the practice do not align with your ideals, you are going to ave a bad time.
%p We often try to take the first viable option to a problem. We should not stop there. We should look at many solutions, experiment and not just choose the first one and stop.
%p Look at what you can adjust. Can you tweak the environment? Can you tweak the practice? How far are you tweaking? If you tweak too far you can start to lose your principles. It is not just about "know how," but "know when" and "know where."
%p It is important to create safe spaces to create learning. If you don't have safety, you don't have learning. Blame cultures are poisonous. Sometimes that means uninviting managers to retrospectives.
%b Don't bet the farm.
%p When you try to change everything at once, you are setting yourself up for failure. Small incremental changes are key. You design experiments to try out a new idea, collect data, and see if it works. If it does not help, you pivot.
%p Everything touches everything. Learn from others, and be mindful of your environment.