%h2 Promoting Software Freedom Development Via Non-Profits
%i Bradley M. Kuhn
%p RMS said that "All sorts of development can be funded with a Software Tax" in the GNU Manifesto (1984).
%p The Debian project was funded by the FSF in its first year of life.
%p Most free software is written by volunteers, but those volunteers are now mostly funded by for-profit companies (Red Hat, Google, IBM, etc.).
%ul
  %li For-profits act in the interest of their shareholders.
  %li 501(c)(3) non-profits (NPOs) act in the interest of the public good.
  %li Software freedom is best when done for the public good.
  %li NPOs are the best place for software freedom.
  %li NPOs can accept for-profit donations, but they provide a firewall.
%b 20% time (invented by HP) is a boon to software freedom.
%p There is a downside of for-profit-employee "volunteers," though. This moves the codebases in the direction of the profit of the shareholders, and not the public good.
%b Some developers should be funded by non-profits to mitigate dangers of for-profit control.
%p "It is the duty of all Free Software developers to steal as much time as they can from their employers for software freedom." - Jeremy Allison, creator of Samba
%p NPOs take money tax-free, and they must spend that money for the public good. By developing software from a non-profit, we can help influence the projects for the public good.
%p There are problems, though. Too many NPOs can confuse donors. How do you choose?
%p It is not a fun task to run a non-profit. It is a lot of work, and a lot of hackers don't like to do it, so when they do, less free software is written.
%p To improve this, there are NPO aggregates that bundle together many free software projects, but the not-fun stuff can be taken care of by someone else.
%p Free Software NPOs mostly fund:
%ul
  %li Travel to conferences
  %li Handling Google Summer of Code
  %li Running conferences
  %li
    %b Funding developers to work on free software full-time.
  %li Fiscal oversight
%p One of the problems of free software is that once the core of a project gets "good enough," people start spending less time working on the core, and more of working around it, and the core is neglected.
%p Projects need people to maintain projects. That is where NPOs funding developers can help.
%p An NPO-funded project can make a free software project more free and sustainable for the public good.
%b
  Please give money to
  %a{:href => "http://sfconservancy.org/donate/"}The Software Coservancy
  to help the cause.
