%h2 Monitoring Anything with Nagios
%i Greg Martin (@uSlackr)
%p
  %a{:href => "http://www.nagios.org/"}Nagios is the industry standard for monitoring IT infrastructure.
%p If it is plugged into the wire, and has an IP address, we can monitor it with Nagios.
%p  includes a simple, but powerful, plug-in architecture. It ships with 68 plug-ins, and there are 2600+ more in Nagios Exchange.
%p We can modify or write plug-ins to customize our monitoring to be EXACTLY what we want to check on.
%p When you work in IT, there is non-stop work. Nagios allows us to find problems fast and fix them. When your environment is well-monitored, if gives your IT staff time to respond and understand the problems as they occur.
%p Nagios can be thought of as a giant task manager. Nagios can monitor and alert issues on fine-grained schedules through SMS, email, or anyway you can think of for notifying people.
%p Nagios is also great for running service-level reports. No need to munge data manually anymore.
%p The Nagios Daemon is the core that does all the monitoring and scheduling. The great thing is that the API is all open, and if you don't like an interface, you can change it.
%p You can use the NRPE (Nagios Remote Plug-in Executor) to monitor machines that are behind firewalls through a jump box.
%p Nagios config files are easy to create with a simple DSL to get you up and running fast.
%p You can write your monitoring scripts in any language you want, as long as they output the correct error codes that Nagios can understand (0 = good, !0 = bad).
%p So, the bottom line is, if you have a server, you should try monitoring it, and a great tool to monitor it is Nagios. Check it out!
%p Thanks to Greg for the great talk!
