%h2 Build your child their very own Node.js Frozen bot
%i Gabrielle Crevecoeur
%p Do you have a child in your life? You do? Cool! why not build a FrozenNodeBot with them?
%p How do you get started? Well, there are two basic hobby hardware kits: Arduino, which is super simple, and RaspberryPi, which is a full-on computer in your hand.
%p If you don't deeply understand hardware pin ins/outs, we suggest starting with an Arduino instead of a RaspberryPi. It is way easier to get started with.
%p Arduino has a system called Sketch which is a lot like C++, so if you can grok C++, it is cool. RaspberryPi is tots Python.
%p ...but I like JavaScript. That's cool, check out Johnny-Five. It is a JavaScript library for working with hobby hardware. It works with a TON of hobby hardware.
%p In the hardware world, there are shields. Shields fit on top of your Arduino and give it the same pinout, so you can add more and more to it. You can think of them as plugins for your Arduino hardware.
%p Johnny-Five uses standard Firmata for communicating with the Arduino. It is pretty standard. It is built into your Arduino software.
%p You always need to know what port your Arduino is connecting to. It will change depending on your system, remember it!
%p There is a hello, world in the hardware world! It is to make an LED blink!
%p In Johnny-Five, you are writing Node.js-like code. It is as simple as led.blink(); WAU!
%p Johnny-Five just lets you point to any pin on the Arduino, you just name it!
%p Wow, that is great. It makes programming hardware as easy as writing Node.js code!
%p You can get an MP3 player shield for your Arduino. It can play MP3s from an SD card.
%p Gabrielle makes working with hardware look easy and fun. What a cool thing to do to get your creativity out there.
%p The Azure marketplace voice recognition (Microsoft Cognitive Services) is actually pretty good. She used that to get the bot to understand what you are saying.
%p If you run into roadblocks, that is OK. Everyone makes mistakes. Just keep trying!
%p Gabrielle ran into issues with her demo and debugged it live. It was amazing to watch! Never give up, people!
%p Make your own FrozenBot at http://aka.ms/frozenbot
%p Thank you, Gabrielle, for an inspiring talk!