%h2 Debugging Diversity (#strangeloop notes)
%i Anjuan Simmons
%p The software development industry is NOT all that diverse!!!
%p The people working in the software industry do not represent the general population.
%p We do not have to wait for our superiors to demand difference. We in the industry can use our privilege to debug diversity in software development.
%p There is a difference between diversity and inclusion. Diversity is the invitation. Inclusion is making people feel welcome and included. It is going out of your way to accommodate them.
%p Inclusion required empathy. And that requires understanding that others are not as privileged as you are.
%p It will take a grassroots movement to realize that equal rights and inclusion are a first class citizen in our industry.
%p We know about grassroots. Just look at the open source community. See The Cathedral and the Bazaar by Eric S. Raymond.
%b "Given enough eyeballs all bugs are shallow."
%p Raymond links the size of the developer base to the ease of solving problems.
%p Although this is the promise of inclusion, we do not follow this with inclusion of marginalized people.
%p Whatever bug you might encounter, there is someone out there that knows how to fix it.
%p Expected Behavior. What should a feature do. What should WE do. What is the expected behavior for the workplace for those without privilege in tech.
%p We should NOT presume things about people without our privileges. The first part of that is realizing our own privileges.
%p Tracing. Just like you can trace code to find issues, you can trace behaviors in tech to the privileges of the majority.
%p Marginalized people feel like they have to lose their identities to "fit in" in tech. For example, you should be sensitive to people that do not want to drink alcohol.
%p Refactoring. Just as we want to change the internal structure of code to make it easier to read, you can do inclusion refactoring. We have to change the structure of the industry to make it more inclusive.
%p Stop the "Airport Test" in interviewing. If you want a diverse workplace, you should NOT be lookng into "cultural fit." They have no relevance.
%p Instead, think "who would be an amazing person on my team?" Ask the questions that matter for the team, not your "gut" feeling. You have to replace "cultural fits" with "company fits."
%p Sample Code. Just like we write sample code to try stuff out and lend to other people, you can lend out your privilege out to other people. Let women know of men-only events. Give women a chance to talk in groups.
%p You might be reading this as a straight white cis genders male in tech. If so, you have a TON of privilege that you can lend out to marginalize people. You have so much power that you can share with other. Do it!!!
%p The founders of the constitution put a pull request system into the constitution. They are called "amendments." They were our proto-coders. :)
%p These amendments don't just benefit the marginalized, they benefit everyone.
%p When we have a more inclusive tech community, it will not only benefit the marginalized, it benefits us all.
%p You, yes you, can take action. You can start by being aware of the gaps in our industry and realizing your privilege that you can lend to others. You can encourage women to speak up at conferences, for example.
%p Just like there is not just one way to fix any bug, there are more than one way to debug diversity in tech. You need to listen and try to understand others.
%b DON'T ASSUME!
%p Stop assuming, listen and be open to hearing others. Open up your discussions to the marginalized.
%p An "Ally" is a loaded term. Sometimes men do horrible things to women in tech. Microaggressions, being passed by for promotions, being hit on, lots of things.
%p We live in a world that is anti-Ally. This world is sexist, racist, homophobic, transphobic, ablist, ageist, classist. To deny that is a lie.
%p You have to understand that you will ALWAYS be an Ally-in-progress. You will always be trapped in society. But you can start to realize it, and work towards a better tomorrow.
%p Being an Ally is a marathon, not a sprint.
%p You might think that you can just put your head down and code. But, you can make a difference. You matter, and what you do matters. What you DON'T do matters.
%p If you want that bazaar, you have to make it happen. No one else. YOU.
%p Thank you, Anjuan, for an amzing amazing talk!!!