%h2 Government Hacking and Human Rights: The Why and the How
%i Amie Stepanovich
%p The FBI has been hacking in criminal trials to take down mobsters!
%p FBI has been using keyloggers and other hacking tools to take down criminals.
%p In 2013, Judge Stephen WM Smith shot down the FBI for the first time, disallowing them from using hacking tools in a bank fraud case.
%p The denial was because of the standards of "Rule 41" which only allows jurisdiction for known areas. Judge Smith's problem was that the computer was in an unknown location.
%p The judiciary then put forth rules to get around that.
%p Wiretaps need super-warrants to be granted. You have to prove that traditional methods are less invasive.
%p Amie argues that hacking is even more invasive than wire-tapping. But congress has never touched hacking in legislature.
%p The congress needs to act in about six (6) weeks, or the FBI is about to gain extremely broad authority to violate the 4th Amendment of the Bill of Rights.
%p When the FBI does not know where the hacked computer is located, that violates the 4th Amendment's particularity agreement.
%p FBI hackers have conducted "drive-by" hacking, collecting data on random innocent people as well as criminals.
%p Broad hacking on random computers from government agencies is completely unconstitutional.
%p Australia has legally approved hacking from 1999. It now allows for "bulk" hacking. Monitoring everyone.
%p Russian and Chinese government hackers are some of the best in the world. They completely monitor all their citizens.
%p Governments are not hacking on their own. They are selling tools to each other to increase their hacking abilities. We are selling our hacking tools to deplorable countries.
%p There are even international hacking organizations that combine the hackers of multiple governments to help repressive countries.
%p So, this is NOT a US problem, it is a world problem. We need to turn to international law.
%p The UN's Universal Declaration of Human Rights is a basis of who we want to be as humans.
%p Governments want to control messaging. Like defacing websites.
%p They want to cause damage. Like making a database unreliable.
%p Finally, they want to gather intelligence. Like stealing information.
%p Hacking is extremely invasive. Therefore it is invasive to human rights.
%p Government hacking violates due process by taking away due notice.
%p When you hack a system, you actually don't know what will happen. You might crash the system. When you hack something, you take a risk that you might damage the device unintentionally.
%p Hacking also violates the right to privacy, by stealing private information.
%p It also violates the freedom of opinion and oppression.
%b There needs to be a prohibition on government hacking.
%p Message control and causing damage should not be allowed at on for international government hacking.
%p Collecting information might be OK, but we need safeguards:
%ul
	%li Gov't hacking needs to be provided by law.
	%li Officials need to explain why it is necessary to hack, without other activities.
	%li Apps for hacking should only return exactly what is being looked for. Bulk hacking should be prohibited.
	%li Apps for gov't hacking should be reviewed by independent and competent judicial authorities. No emergency hacking.
	%li We must notify the people being hacked that they are being hacked.
	%li Applications of hacking need to eventually filed publicly.
	%li Private entites should never be encouraged to create loopholes in software for gov't hacking.
	%li If the hack is overscoped, it needs to be reported.
	%li Extraterritorial hacking should not occur.
	%li Gov't hacking that finds holes in software should be told to the software owners as soon as possible.
%b Human rights should not be sacrificed by gov't hacking.
%p We still need gov't hacking, but we need the rules set up right, right now.
%p Check out accessnow for more information!
%p Thank you, Amie, for a great talk!