%h2 Humanities x Technology (#strangeloop notes)
%i Ashley Nelson-Hornstein
%p Why has Apple taught us not to worry about the hardware specs to our systems, as opposed to PC users? The Apple marketing is all about the quality of the user's experience, instead of the merits of the hardware specs.
%p Apple is really really good at winning hearts and minds with their commercials. The specs don't matter at all. They get it.
%p Technology for technology's sake just doesn't matter. Technology is for people. Technology should be at the intersection of liberal arts.
%p Technology married with the liberal arts, the humanities, that make our hearts sing. The technology by itself is worthless.
%p What are some real world applications of the intersection of arts and technology.
%p Dr. Land, the founder of Polaroid truly believed that science is worthless without art.
%p But it goes farther back than that. Think of Leo DiCaprio. He used art to explain science. Think of Ada Lovelace, she was able to go beyond machines to see how we can interact with those machines.
%p Dr. Land spent endless hours removing the complexity of the technology, and got people into the art of photography.
%p Check out the game "Never Alone." It tells a great story, and teaches about a unique culture.
%p Also check out "Depression Quest" by Zoe Quinn. It is a choose your own adventure game about being depressed. It is not a fun game, but it is very powerful. Therapists are using this game to teach family members how depression can affect depressed people.
%p Another game is "That Dragon, Cancer." That is about a one-year-old that is battling cancer. It is powerful and painful as you watch a child die. Oh my gosh, as a parent I can hardly stand to watch this. It is too much. It is so important, but it is too much.
%p Twitter is another amazing tool to allow us to connect with each other with hashtag activism. There is something extremely powerful about connecting people together.
%p There is a flip side to it, too. Twitter is also a tool that can spread hate and vitriol. Twitter can't protect people. It is full of targeted abuse.
%p Twitter is very bad at dealing with trolls. Its inaction is speaking volumes to racists and sexists out there. If Twitter is serious about stopping hate speech, they need to start putting their money where their mouth is.
%p Remember Tay? Tay was a chatbot that learned from Twitter users. Within hours of Tay's AI coming online, it became extremely anti-human, racists, sexist and pretty evil. The Internet turned an AI chatbot from Microsoft into a hate machine.
%p Afte Tay was shut down, the VP of Research released an official technology. Tay was based off of Xiaolce, a Chinese chatbot.
%p Xiaolce the bot was successful because it focused on the empathy of the users, not the chat communications. Their technology was informed by their humanity, not pure science, like Tay.
%p Remember your blind spots. Remember that you, developer, are NOT the user. You are more than likely horrible at understanding people. You need to fix that. You need to realize that. We all do.
%p Guess what? No one cares about your technical features. It is pointless to even mention it. If you want customers, you need to tell a story. Real humans, not engineers, relate to stories.
%p Pixar creates cartoons, highly technical cartoons. And they tell stories. Powerful stories. Amazing things happen when people of different disciplines come together.
%p When people run into each other, and make eye contact, things happen.
%p Steve Jobs infused the liberal arts into technology.
%p Apple is trying to make teaching programming fun with Swift Playground. They are making programming fun!
%p One hour of Code by Code.org is amazing. It shows us that everyone can learn, if they want.
%p Programming is a skill, you work at it like anything else. It is not something you have a priori.
%p Thank you, Ashley, for making me cry at Strange Loop. Amazing talk!