%h2 Languages for 3D Industrial Knitting (#strangeloop notes)
%i Lea Albaugh
%p What is knitting? It is fundamentally a bunch of loops wrapped together. In knitting we talk about flowing from the bottom to the top. Each loop is also called a stitch.
%p You can easily increase and decrease stitches and move things around. That is the basics.
%p But how can machines do it? Stocking frames have been around since 1589. Circular sock makers have been around since 1880.
%p Computerized knitting peaked in the 1990s, but it is getting a comeback!
%p You can get open source knitting machines, but more excitingly industry has been making super advanced things now!
%p They are very fast, very flexible, they are everywhere. Most of what you are wearing used them.
%p Knitting machines are made of needles, which are hooks an sliders. They hold the stitches.
%p Each needle can do four things: knit, tuck, transfer and split.
%p A rack and transfer together gives you a decrease.
%p All knitting operations are built on these four actions.
%p In hand-knitting, there is "knitspeak" which knitters use to understand how to knit. It is a bit of a hodge podge, but it is sort of like a programming language.
%p A patterns combined with knitspeak with a knitting chart. Check out stitch-maps.com for cool visualizations.
%p So, machines can do it. There is a language called KnitPaint. It is a completely visual language, but it is not an esoteric language. This language is insane.
%p My notes cannot accurately reflect how amazing this KnitPaint language is.
%p OK, KnitPaint is wild.
%p But remember, there are four operations. Knit, tuck, transfer and split. We can then code those up in something like, say, JavaScript! That is like an assembly language.
%b Lea invented an embedded domain specific knitting language in JavaScript called "Nancy."
%p You have physical constraints in your knitting machine, so you cannot just write any code.
%p Lea's team created a compiler for 3D machine knitting that they presented at SIGGRAPH'16.
%p Lea's paper shows a complete solution to the transfer problem (with mathematical proof).
%p (Sorry for the light notes, there were lots of pretty pictures. I encourage you to seek out the video for coolness.)
%p Thank you, Lea, for the great talk!