%h2 Multiparty Session Types & their Applications (#PWLConf notes)
%i Nobuko Yoshida
%p Session types are used in Scala and Go. Check them out!
%p
	Check out the publications at
	%a{:href => "http://mrg.doc.ic.ac.uk/publications/"}mrg.doc.ic.ac.uk/publications
%p What is a session type? A type like a functional type for concurrency and message passing.
%p How do we formally abstract communications? This reminds me of the Pi calculus.
%p A lot of this communication session types come from the Ocean Observatories Initiative.
%p How do you catalog and control message passing? It makes for uniform messaging ordering and sync.
%p Sometimes you want these messages to persist for a long period (over 30 years in the OOI case). So you better define the communication protocols very clearly!!!
%p Robin Milner in 2002 said "types are the leaven of computer programming; they make it digestible."
%p We can describe communication protocols as types! Then these types can be materialized to formal definitions and proofs.
%p Multiparty session types were developed in the W3C WS-CDL working group. But CDL is extremely complected.
%p
	%a{:href => "http://www.scribble.org/"}Scribble
	is a much more readable language. Let's use that instead. :smile:
%p Check out the Multiparty Session Types [POPL'08] paper.
%p Binary session types are sessions with only two parties (like a buyer and a seller).
%p (I have to head out to the conf. guide meeting, sorry for the ditch out!)
%p Thank you, Nobuko, for a great talk!