/ JavaScript and Web Standards
%h3 #standardsnext Session 3 Notes
%i Jenn Lukas, @jennlukas, Happy Cog
%p "You can view source on everything I've done." :)
%p Check out "Designing with Web Standards" by the founder of Happy Cog.
%p Check out .net magazine. It is an awesome mag.
%p Web standards give the greatest benefits to the greatest number of web users.
%b Your site should work without JavaScript!
%p Your content is important, NOT the whiz bang!
%p Make sure that your sites work without JS.
%p There are a LOT of sites that fail completely without JS.
%p Why should we care?
%p About 6% of your users have JS off. That is actually a big deal.
%p "96% of statistics are made up on the spot." :P
%p What if that ONE person that comes to your site without JS, that person might be a big player. It matters.
%p Also, SEO. Working without JS makes SEO more awesome.
%p When you don't depend on JavaScript you are future proofing your site. That is important.
%p If you make sure that your site works, you can be proud of your work.
%p JavaScript hacks still happen. There was a big JavaScript scare on the twitters last year.
%p There are a lot of people that use NoScript for Firefox.
%p There are also a lot of other people that set their security in IE to High. That turns off JavaScript. OMG!
%p Progressive Enhancement is the solution!
%p The most important part is that your HTML has all the content.
%p Then you should add CSS to style it.
%p Then you can add JS to add some whiz-bang. But not for core functionality.
%p If you MUST have JavaScript on your site, make sure you make sure to let your users know with messaging.
%p Declare yourself an application.
%p WAI-ARIA allows you to declare your sites as apps. It is also awesome.
%p Be friends with your library. You should learn about how your JS libraries work.
%p Your libraries are doing some AWESOME things. JS Libraries make your life easier. Use them. Love them.
%p OR...don't use JavaScript at all! CSS3 Animations are awesome!
%b Don't kill your users with gratuitous animations. Don't distract your users.
%p Make sure you let your users know when something is happening. If you have some AJAX hawtness, make sure you use loading images. Don't lose your users with non-responsiveness.
%p You do not want to lose a user because your development scares them away.
%p Check out Steve Souders book "High Performance Web Sites."
%p Load your JS at the end of your page, it makes your experience much faster!
%p Thank you to Jenn for the awesome talk!
