/ Realizing "One Web" in the Enterprise
%h3 #standardsnext Session 1 Notes
%i Kimberly Blessing, @obiwankimberly
%p "I hate the mobile web."
%p Actually "I hate mobile."
%p I hate the word mobile being used as an adjective in front of "web" or "app."
%p The entire concept of the web is that it is FREE of constraints. Saying mobile in front of it constraints it. That is fundamentally WRONG!
%p People generally don't want more, they want what they have on a phone.
%p Bandwidth isn't a limiting factor on mobile.
%p Why is a mobile experience different than a web experience? If it is easy on the phone, why can't you make it easy on the web as well?
%p It kind of feels like we are repeating our past mistakes and creating a fractured web. And that is a crime.
%p Users don't need to have the same experience, but they DO need to have the same capabilities.
%p We want a cool experience, BUT what really matters is that you have the same functionality no matter WHAT browser or platform you are on.
%p Why in the WORLD does some email web clients not work on all browsers. It is because we are writing our web code wrong!
%p The user experience should MATTER for allow customers, not just customers with iPads and IE8. That is absurd.
%p Now the executives LOVE the iPad, so they think that the iPad experience should be everywhere. NO that is wrong. You should be able to access the same CONTENT everywhere, but NOT the look and feel.
%p PLEASE return the control for look and fell to ME, the customer.
%p We are shooting for the ideal, to give the control to the users, using web standards.
%p When you work with web standards you can get your job done better and faster. WE coders have to be the diligent ones, we have to push the envelop to show the business what is possible.
%p When we write web sites, we shouldn't CARE about the browser. Junk browser detection, make it feature detection, if you have any detection at all.
%p We need to stop worrying about VERSION, and start worrying about our code.
%p Worry less about backwards compatibility. You cannot stop the proliferation of browsers.
%p IE6 is actually awesome. You can do a lot of cool stuff in IE6, but the JavaScript engine sucks, so...just don't load JavaScript on IE6. Your page should still be able to display content without JavaScript.
%b A different experience is OK. In fact it is necessary to keep and get the most amount of customers.
%p One Web: Unlimited Possibilities.
%p We have to ensure that we are are writing good semantic HTML.
%p We need to go back to building things the RIGHT way!
%p We have to:
%ul
  %li Convince browser makers to adopt web standards.
  %li Convince employers to adopt web standards.
  %li Convince developers to adopt web standards.
%p We have not gotten mature enough in our design process. We need to prototype our designs more.
%p If you are in a group that does design THEN development, you will fail. You HAVE to work together.
%p The PROCESS is the challenge even more than the technology. We have to refine and improve how we work together.
%p We cannot work in silos. We have to work towards our strengths and weave them together as a team.
%p (p.s.: I hate the term "Real Agile.")
%p Half of our federal government is still on Netscape 4! (because of the security of the mail) WAU!
%p So to realize "One Web" we have to:
%ol
  %li Serve all desktop and mobile sites out of the same code base, rather than separate code bases.
  %li Treat every content object as a discrete unit which could be served anywhere, in any context, as opposed to tying content to a specific page.
  %li Implement new features to support future browser capabilities but don't spend time on backwards compatibility.
  %li Embrace browser differences and user preferences by designing adaptive, not static, experiences.
%p Thank you to Kimberly for the great talk!
