/ Low friction development
%h3 #jsconf Notes
%i Peter Elger
%p It is good to learn a lot of languages. The structure of the languages we learn effect the way we live.
%p So learn lots of languages, expand your mind!
%p Peter makes a lot of single page AJAX apps that get a really big traffic spike and disappears after a few months.
%p They have a system with jQuery on the client wth a Node.js backend.
%p The structure of their application looks a lot like a Rails app.
%p The good news about making a framework like this is that it is fast, simple, and the right way to go.
%p JavaScript can become THE universal language for app development.
%p Thanks to Peter for the great talk!
