/ Introducing Waterbear
%h3 #jsconf Notes
%i Dethe Elza
%p Let's not talk about JavaScript. Let's talk about coding and teaching coding.
%p Scratch is a great example of a simple programming language for kids (http://scratch.mit.edu/).
%p Scratch is a good gateway into programming. And it is a way of snapping blocks together to create programs.
%p Waterbear is a way of building any language with a visual tool.
%p Now with Waterbear (http://waterbearlang.com/), you can write JavaScript by dragging and dropping visual blocks together. You can then view the JavaScript that it creates.
%p When you have a visual language, you NEED an IDE.
%p Waterbear is strongly typed, unlike JavaScript itself, but those limitations are intentional.
%p Waterbear is not a language itself, but a way of making a language.
%p Each of the types of Waterbear blocks are simple JavaScript objects with a label and script.
%p Waterbear looks really fun. Check it out!
%p Thanks to Dethe for the great talk!
