/ JSConf Day 1
%p Best Practices are HIGHLY situational.
%p Code has social customs.
%p We should be less concerned about waht is right or wrong, but what is polite and impolite, in coding practice.
%p Built-ins are all our code. Social customs are a proven way to manage shared property.
%h3 Unsolved problems
%p Only ONE library gets the prvilege to extend built-ins.
%p Libraries I require will often decide for themselves which core extensions will be used.
%b Object.prototype is STIL verboten.
%p 
