/ Modern JavaScript
%h3 #jsconf Notes
%i Rebecca Murphy
%p There is an effort in the Perl community to rebuild Perl's image. We in the JavaScript community have some of the same issues.
%p Car geeks were the hackers of the 1900s.
%p Being a JavaScript hacker now is like being a car geek back then. There are lots of uncertainties.
%p There are lots of guidebooks and advice out there, but you really couldn't do much without experience and expertise.
%p "Let's build it before we are too old to enjoy it"
%p We are in a state right now where there are cars, but no infrastructure to put it in place.
%p The car guys decided to to it themselves and the Lincoln Highway Association was founded and they would:
%ul
  %li choose a path
  %li put up signs
  %li plant "seedling miles"
%p In the JavaScript community WE NEED TO:
%ul
  %li choose a path
  %li put up signs
  %li plant "seedling miles"
%p We need to create a path to the future. Without knowing how to structure a JavaScript application, without knowing how to manipulate the DOM, we have no path.
%p core as commodity: There is a core of functionality, we NEED to provide a path to the right way of doing known things. We can't keep inventing the wheel.
%p We have to agree that there is a one right way of doing things.
%p We have to have a standardized module system. We cannot depend on specific implementations.
%p Check out AMD (http://unscriptable.com/code/Using-AMD-loaders/#0)
%p Library-agnostic dependency management: We have to have a better solution to manage dependencies than script tags!
%p We need signposts. We HAVE to teach people how to use the tools we have in place. Education is the signposts of the JavaScript problem.
%p We do not have enough sufficiently complex examples that are sufficiently easy to understand.
%p We have to demand interoperability. It will hurt, there will be winners and losers, but that is OK.
%p We have to reward the people fixing the bugs.Not the people with the next great thing.
%p promises in jQuery are awesome! Check them out.
%p AMD in Dojo is another example of doing the right thing in this space.
%p uber.js is another tool that is trying to standardize on solutions. (https://github.com/phiggins42/uber.js/tree/)
%p "Don't be Denver." - Don't lie about your tools being the standard.
%p We have to move towards a more common path.
%p Design your stuff to play well with others.
%p We need to build it before we are too old to enjoy it.
%p Thanks to Rebecca for the great talk!
