%h2 Return to Paradise
%h3 the web as it was meant to be
%i Molly E. Holzschlag, Opera Software
%h3 The root principles of web standards.
%p Context and history of HTML5
%p The web has grown up very quickly. There is a lot we have done well, but there is also a lot we have failed at. The BIGGEST failure we have as front end is education. We have not been so great with teaching people how to keep up.
%p HTML came from the scientists at CERN, we need to take a close look at the principles of these founders.
%p There are some moral ideals baked into how HTML was designed, but we have forgot.
%p the primal idea of the web is to transcend. To transcend the boundaries of platform-dependence.
%p Interoperability: The core of what HTML is to be. To be interoperable between devices, OSes, platforms, etc.
%p The idea that the web was to be mobile was already there in the beginning. "Whatever device that comes along, HTML was designed by the CORE to work EVERYWHERE."
%p Ideologically the concept of HTML was write it ONCE and play it everywhere. But we don't have this right now.
%p Why is there mobile web developers? It shouldn't matter if your are mobile or not, it should work.
%p We should transcend LOCATION. The ideal is that you should be able to view your HTML anywhere.
%p Stop worrying about pixel perfection. It isn't what we should be wasting our time on.
%p I18n, l10n: That is important work. The BBC is a prime example. They have to publish 6000+ documents a day in 32 different languages. WAU!
%p It is not the rich western web, it is the wild world web.
%p It shouldn't matter the money you have or where you are, you should be able to access your content.
%p Thank you CSS3 for the power of FONTS!
%p For many many years the ONLY browser that supported fonts was...(wait for it) IE!
%p IE has eot fonts 10 years ago, so a LOT of the non-western world's governments use eot fonts. So they are STUCK with IE6. (Oh noes!)
%p We are all "Temporarily Abled Peoples," we will all eventually be disabled. An example: ALL our eyes get worst over time.
%p So we need to transcend ability and disability with responsive web design.
%p You should FEATURE sniff, not browser sniff. If this feature, deliver that; if that feature, deliver another thing.
%p There are over 130 different platforms, you CANNOT code for all browsers, but you CAN code to features.
%p CSS media queries are also awesome. Check them out.
%h3 The Open Web
%p The open web believes in these root principles.
%p We need authenticity, not transparency. (i.e. it is not an alt tag, it is an alt attribute)
%p This isn't about coding HTML5, it is about the principles behind how we code.
%p We need to be open about how and what we are coding. Why are we obscuring our code?
%p Open source work IS transparent. That is a very important thing to the open web.
%p We want our companies to be open minded. Open minded companies are open to open source and transparency. There is a LONG way to go, though.
%p There is still an ivory tower, we preach democracy from our propriety software jobs. How is that?
%p We need to be more connected. When we connect with others, we advance our understanding.
%p But doesn't standards limit your freedom? NO. Standards allow you to express yourself within boundaries.
%p The web is all about transcending governments. We hold great power as individuals that we never had before.
%p We need open specifications. Patents limit openness. Patents kill software.
%b We need a patent-free web.
%p The technologies we create at the W3C, WHATWG, etc. need to be free and open.
%p The W3C has the processes in place to deal with patents. If we have patents, we have to release them for free to the public. Only then will they thrive.
%p "Freedom of Social Forms" - we should be free to create and discover on an open web that transcends government.
%p Look for the multi-functionality of things. When you create things, think not only about what you want it to do, but what it CAN do.
%p The open web is tolerance of error.
%p Fundamentally we are just making it all up along the way. We will make mistakes. And we have to be tolerance.
%p We have to forgive (forgive IE6).
%p No matter our differences, we have to come to the table and talk to each other.
%p And pay it forward. Get involved! Go out to meetup groups, get involved, you can make a difference.
%p Share your knowledge. You can make a difference, so share it.
%p You have to rely on the people in your communities, and they can rely on you.
%h3 Some open standards
%ul
  %li SVG is scalable vector graphics. And it is NOW in IE9. Finally an IE with SVG. Awesome!
  %li Microformats are an extension of existing code.
  %li WAI-ARIA is a standard for making the web accessible to people everywhere.
%p Open standards means open everywhere.
%ul
  %li Think locally
  %li Act globally
  %li Follow standards
  %li Break some rules
  %li Open the Web!
%p Thank you the Molly for the great talk!
