%h2 Philly.rb June Meeting

%p
  (Notes from the general chit-chat)
  %br/
  ruby-gd - this is a Ruby wrapper for gd (for displaying graphics) that is faster and less bug-prone than ImageMagick or RMagick.

%h2 Node.js in 30 minutes or less
(link here)

%h2 Ajungo (the sponsor)
%p
  Ajungo is a travel social networking site. It is a free online travel tool to see who else is at the place you are (a concert, a sports game, a cruise, etc.)
  %br/
  They are hiring Ruby geeks. steve@ajungo.com wants your resume, so send it!

%h2 Raphael.js - A Festival of Treats
(link here)
