%h2 Twilio IVR
%i Kyle Burton, Relay
%p Kyle started with making a interactive voice response system (IVR) for Relay. Coding for IVRs is quite slow.
%p Kyle started with a bash script using say, but that was weak sause, so he decided to level up.
%p He found Twilio, which is a cloud-based telephony app that has a robust API.
%p Twilio is NOT a platform, just an API (but it is a good API).
%p Heroku IS a platform, though, so Kyle used that.
%p Twilio allows you to forward phone calls, so you can use it to get user information before passing through to customer service.
%p Kyle created a state machine framework for interacting with Twilio. It makes sens for an IVR to be a state machine (think of a phone system).
%p Cucumber is awesome, Kyle got his IVR framework working with Cucumber. V. awesome.
%p Check out Newflow, it is a Ruby State machine library that Kyle and Trotter Cashion wrote at Algorithmics.
%p 
