%h2 Metrics #rubydcamp
%p Change Management: Small changes are easy, big changes are harder.
%p Check out "Driving Technical Change" to learn about becoming a better thought leader in your team.
%p MetricsFu is a ruby gem for recording metrics.
%P NewRelic is a great way to learn about your Rails site.
%p Clicky is a paid service that is like Google Analytics, but it is a LOT easier. One of the things that is really cool is that Clicky will let you see mouse events in real time right away.
%p Turn your metrics over to your developers more.
