%h2 Teaching Programming for Kids #rubydcamp
%ul
  %li Check out HacktyHack for teaching simple programming.
  %li Shoes uses HacketyHack and builds a framework around it.
  %li Scratch uses coding concepts like puzzle pieces to make programs.
  %li Waterbear is very similiar to Scratch for the Web.
  %li Ruby4Kids and KidsRuby are tools to get kids into writing Ruby.
%p Gosu is a Ruby-based language that Ruby4Kids use for making games.
%p Squeak is a Smalltalk framework for teaching programming.
%p Don't load a game on your device unless it involves problem solving. A good rule is if the kid gets silent when they are playing, it is a good thing.
%p Although, don't underestimate the power of games. Especially games that allow you build things and be creative, like Halo Reach and Minecraft.
%p A lot of the learning we were doing with legos and bottle rockets are now being fulfilled with video games.
%p Excel can be a great gateway into programming. Excel is actually a powerful intro to programming.
%p Sinatra is a a great way to start out with Web Programming. It is simple and fun.
%p Teaching kids programming is all about making programming fun like a game.
%p (Shoot! I have to start making lunch!)
