%h2 CoffeeScript #rubydcamp
%p Ruby DCamp 2001 Session 1
%p A good way of having your coffeescript files compile on save is to use watchr to have your coffeescript compiler run.
%p CoffeeScript compiles to lintified JS code.
%p Objects in CoffeeScript look a lot like YAML files.
%p Function calls without () are a reference to the function.
%p You can use 'is' instead of === for comparisons.
%p Check out synctastic, it tries to compile the coffeescript on save to check your syntax.
%p The fat arrow (=&gt;) and the skinny arrow (-&gt;) are different. The fat arrow wraps your anonymous function in a closure to preserve the reference of 'this'.
%p To use CoffeScript, you STILL need to know JavaScript, but it makes what you have to THINK about less. And it allows you to make less mistakes.
%p CoffeeScript enforces cleaner and more maintainable code.
%p The CoffeeScript website and the CoffeeScript source of underscore.js are great places to start learning about CoffeeScript.
%p (Sorry, I came in late!)
