%h3 Alex Sexton
%i (I just caught the end of the talk, so...)
%p Check out EasyXDM for cross-browser direct messaging.
%p Use your OWN namespace. It makes sense.
%p use json2 and closure compiler in your toolset.
%p Have a core set of code formatting guidelines
%p TEST YOUR CODE! There are a lot of test suites. (we use Jasmine)
%p JavaScriptMVC has solved a lot of these problems, so check that out, as well.
%p Promote JS = The BFF of JS Docs. We want to promote good JavaScript documentation.
%p Underscore.js is a very handy toolset for adding awesomeness to JavaScript.
%p html5boilerplate.com is another handy site.
