%h2 How to use Node.js to enable the real-time streaming web. Guaranteed to generate ideas for next-generation web applications
%i James Halliday and Daniel Shaw
%p "Mad science is about enabling chaos in your world"
%p Seaport is a service registry. Service registries are a way to register your services to a central hub. Using this, you do not need to know your ports to deploy services.
%p Fleet is a git server over HTTP. It allows you to set up a git-based CI tool.
%p Don't write big apps. Write a lot of little tiny apps that talk to each other. That is so much easier to maintain.
%p Check out airport_cluster on github to see seaport and fleet working together to get git servers up and running fast!
%p zygote is a way to use a json file to configure a node server to spin up an entire cluster of node servers.
%p That was a fun demo!
%h3 Daniel Shaw on realtime node
%p is a way to use a json file to configure a node server to spin up an entire cluster of node servers.
%p That was a fun demo!
%h3 Daniel Shaw on emoji, node, and poo icons.
%p If your device can desplay it, you should be able to use node.js to send it. Emoji support is now in Node 0.7.x. It is not in 0.6.x.
%p Node.js 0.7.7 gives us a lot more powerful when doing emoji and unicode expressions.
%p Thanks for the poo and mad science!
