%h2 Taming Lions
%i Aaron Held, @iamaaronheld
%p How do you get a big company that is really waterfall into an agile methodology?
%ul
  %li Rule #1: Executives communicate in PowerPoint
%b Steve Jobs is not your leader. You don't have an awesome leader. You have a lot of red tape, that red tape is a way to take a company with a lot of B players and have them complete with a company with one A player.
%p If you cannot have confidence with your employees, agile isn't for you. Agile needs trust! If you can't trust your people you can't use a process that requires trust.
%p For you to have success, you have to have METRICS! If yon cannot measure what you are talking about in numbers, your knowledge about what you are doing isn't as useful.
%p If you can't get your VPs to talk about what your software is suppose to do, you are at a loss. Yours execs have to know what they want.
%p "The coach is not the player." You have to play your position. That means having a cross-functional team where everyone plays their part. The UX person does the design, the VP does not. The coder designs on implementation, not the manager.
%p When you have loosely defined goals, managers cannot show the progress of their team. Define your goal.
%p The people you need to sell Agile to is the VPs, the Execs.
%b If the agile process doesn't show them how great I am, it is useless to me.
%ul
  %li Influence management
  %li Lead your team
  %li Support your peers
%p Don't bash on your peers. Engineers can't bad mouth UX, QA can't bash Engineers. We have to work TOGETHER! And you cannot do that with hate. It takes teamwork and communication.
%b Go buy "The Five Dysfunctions of a Team"
%ul
  %li Absence of Trust: When you don't trust the people you work with, everything you want to do is useless, since you are going to by CYA instead of working.
  %li Fear of Conflict: When you are afraid to talk to someone you cannot communicate your issues.
  %li Lack of Commitment: When you don't commit to the work you do, you get ambiguity in your design. That is poison to a process.
  %li Avoidance of Accountability: PERSONAL RESPONSIBILITY. When you do not have accountability, your quality will suffer. You have to care about your work and be proud of it.
  %li Inattention to Results: When you don't care about your results, you will always fail. If you don't care, your customers will care even less.
%p At every level of agile, it is your responsibility to give context to the next level down.
%b Co-location is a key to success.
%p Don't call your team members as their titles: QA, UX, etc. Call them by their names. We have to REHUMANIZE each other.
%p You have to be able to fight with somebody. If you are on a team that never disagrees, you are either in magic land, or are not talking.
%p Forming, Storming, and Performing:
%ul
  %li Forming: It takes time for a team to form.
  %li Storming: Once a team has gelled, they will fight a lot. It cannot become personal!
  %li Performing: Once you have fought together, you can work well together. That is when your team starts to perform.
%b It's all about the team. You don't have lunch with your process.
%p It is unfair for the VPs to trust the team, if the team doesn't trust the VPs.
%p Thank you to Aaron for the great talk!
