%h2 Philly Tech Documentary
%i #bcphilly
%i David Dylan Thomas, @movie_pundit
%b Let's make a documentary web series on the Philly Tech Scene!
%p David is working with Maurice Gaston on a web series.
%p It is important to build our social network to get to all of the corners of the Philly Tech Scene.
%p PANMA has been around for 20 years! The Tech Scene is older than we think!
%p DummyTown was a mailing list that was created in 1998 to bring together techies in Philly, started by CDNow.
%p What are the questions we want to answer?
%ul
  %li What are some of the reasons the tech scene has exploded in Philly in the last 6-7 years?
  %li Why now?
  %li There seems to be an isolation between the hardcore coder scene, the new media scene, and the university scene. Why is that?
%p The tech scene IS in Philly, but it takes a while to find it. We are really siloed, but now there seems to be more connections to the other silos.
%p DevNuts is a group that is creating a structured mentorship model to get university students more involved in the Philly Tech Scene.
%p Each season of the series will be five 10-minute episodes.
%p Our problems are not unique to Philly, but what is unique is how we solve those problems.
%p We are a city that is not afraid to reinvent ourselves. We are not afraid to disregard the established groups to do our own thing!
%p Philly has a spirit of rebellion and freedom of thought. It goes all the way back to 1776!
%p Thank you to David for the great conversation!
