%h2 I love 3D printing
%i Chris Thompson @eagleapex, Justin Dunham @jwyatt
%p MakerBot is a company founded in 2009 that makes a DIY 3D printer. Their kit is $1,500 and all their plans are open source.
%p MakerBot is all based on RepRap. RepRap is a self-replicating machine. It will be able to print itself (eventually).
%p It costs about $500 or less for the non-printable stuff.
%p One of the coolest things about the RepRap is that you can print almost all the parts of the bot with the bot itself.
%p The Google SketchUp is a common way to design something that can be printed. There are integration points that allow you to go from SketchUp to the printer software.
%p A lot of great pre-made designs can be found at Thingeeverse. You can take those designs, print them as is, or tweak them, they are all free and open source.
%p There are two types of plastic that are mostly used, PLA which is a biodegradable plactic, but not so strong, and ACL, which is the same type of plastic Legos are made of. It is strong, but harder to use.
%p The 3D printing scene is still really young, and there is a lot of opportunity to contribute software, hardware, and design. So get involved!
%p Check out Hive76 Open Houses every Wednesday night  in Philly!
%p Thanks to Chris and Justing for the fun demo!
