%h2 Confessions of a hacker: Why developers are my favorite target
%i Valerie Thomas
%p Red teams break all the things!!! Social engineering rules!
%p Social engineering is a great way to get into systems. It is the best way!
%p Advanced persistent threats are often not that advanced. It comes down to people most of the time. The human element is the weak point.
%p Sensitive information is really obvious, but the stuff that slides through the cracks, like employee names, phone numbers, vendors, insurance providers. Innocent by themselves, but when combined, blammo!
%p Impatience will get you a lot more than kindness. :)
%p Social engineering is all about getting information without triggering the fight or flight response.
%p You want them to perform the command and move on their way.
%p You need to think about targeting. You want developers, because they have lots of access and are pretty innocent folks.
%p Devs are usually power users. If you socially engineer a dev, your life is a whole lot easier.
%p Network engineers are even better, but devs are easier to hack.
%p You start by looking at the company website. Large companies are SO much easier to hack, since not everyone knows one another.
%p The hiring page is social engineering gold!
%p Locations are useful as well. Search for where the network people are being hired. That is where the data centers you want to target are.
%p So, public information can be super easy to exploit.
%p If you want to know what anti-virus software a target is running, check out LinkedIn. LinkedIn is a phonebook for social engineers. These knuckleheads put in all the tech they use in their company. Easy!
%p Sales and PR reps are the easiest to find and target.
%p Do a google search for the email structure of the company, and then email anyone. If it is first.last@place.com. Easy!
%p Twitter maps are great for a showing where marks are. It makes it real easy to tell where your targets are.
%p Maltego is a great tool to get metadata that is useful for social engineers.
%p FOCA is another great tool for sucking down documents from websites.
%p If you can pull down .ia files, that is super useful, because those files are often ID page designs.
%p Once you have all your social engineering data, you can now do three things, phishing, using phones, and physical access.
%p Don't post your VPN Clients publicly, goofballs!
%p Phishing is usually very effective. People reply to email for some unknown reason.
%p You don't send out 5000 phishing email, your don't send out 500 email, you send 5. You don't want people talking about it.
%p Not all phishing happens with email. You can make up employees on LinkedIn. It's all about the photo on LinkedIn. Really nice young girl pictures get a LOT of connections on LinkedIn. Genius!
%p Why worry about email if you can go around it.
%p Physical attacks are the best! Once you are in the office, you are golden.
%p Reconnaissance from afar is great. Pokemon Go has been a game changer. Just send some lures out and people will map it out for you. It is a dream come true.
%p You need to watch enter and exit times for employees in the building. In after hours times, you need to watch when the cleaning crew comes through the building and on which floors. The cleaning crew is important.
%p It is a very different game when the company you are breaking into doesn't own the building. You can make a fake company and get tours of the building.
%p Zipcar is also super useful. They can get you access to private parking lots.
%p Remember the cleaning guys. You can order cleaning uniforms to sneak into the building.
%p The proxmark3 is an RFID research tool...it is super useful to read and write most RFID tags. It is super useful. You can use it to read ID cards.
%p The GRID-IT is a super cool way to keep pieces of thing in place.
%b Buy an RFID-safe wallet.
%p Careful in Starbucks of people with bags.
%p Everybody kind of forgets about the service elevator. It is really the key to the kingdom in most buildings.
%p You need the cleaning crew to disarm a place to sneak into a place. The cleaning crew are very helpful folks.
%p What a great great talk. That was super fun, Valerie. Thank you!