%h2 Data-driven off a cliff: anti-patterns in evidence-based decision making
%i Ketan Gangatirkar
%p Set up A/B testing on different UIs to test throughput.
%p Data is not a panacea. Your data can and will lie to you.
%p Sometimes the tests themselves affect the results. This is the Hawthorn Effect.
%p Anscombe's Quartet show four different charts with the same statistics, but the averages lie to you.
%p Simpson's Paradox describe when you have groups of data, it shows one piece of data, but when you combine those groups you get an entire other set of data. The smaller groups are usually more accurate.
%p Using data well is more than statistic and math. Bad practices can undermind good math. If you are measuring the wrong thing, you will be bad.
%p One o the best ways to be bad at measuring things is to be impatience. p-values are NOT the end-all be-all of statistical proof. Don't just trust the p-value. Stop measuring so frequently.
%p Got the results you want? Your p-value under 0.05%? Declare victory!(nonono, don't do that!!!)
%p If you do a check for significance every day and stop at p-value 0.05% then launch, over 80% of your results will be false positives.
%p Don't take technical shortcuts. Your A/B tests should use real code, not a hack around.
%p Don't ignore part of your user base. If you ignore people on older technology, you are mis-sampling your target population.
%p Don't just look at one metric. If you overdo looking at just one thing you will miss the forest for the trees.
%p If you look at just one metric on your team, you are going to miss things.
%b DON'T TIE METRICS TO BONUSES. YOU WILL GET THEM WRONG.
%p What you measure is what you motivate. If you give incentives, be very careful. You will motivate your people to only drive the metric forward. A more inclusive response is preferable.
%p Also...don't look at ALL the metrics. If you do not know what you want to measure, you will have too much noise from too many metrics.
%p When you do not start with a clear goal, your metrics will kill you!
%p Don't be sloppy with your analysis. Take time to understand your metrics, don't just glance at them.
%p Bad analysis doesn't take down the site. Treat your analysis code as real production code. It is just as important.
%p "Growth in a Time of Debt" was a paper that showed that if public debt grows too large, it is bad. But...the Excel spreadsheet they used was incorrect. Their data was bad, because it was not rigorously checked.
%p 20% of genetics papers have Excel errors. Your tools, if not checked and double-checked, can burn you.
%p Don't make assumptions. Your assumptions will kill you. Have rigor when doing analysis.
%p Don't just look for expected problems. You have to look outside of your data set to see where problems crop up.
%p Don't JUST look at metrics. If you just look at the metrics you will miss things. You have to look at stories as well. Metrics without stories behind them can lie.
%p The right metrics with the wrong story give you the wrong answers.
%p Be careful, though, stories can lie to you just as much.
%p If you have the wrong goals, you will seek out the wrong story, even if your metrics are correct.
%p We con ourselves with stories. Don't believe in yourself. You are useless. You will fail. You are untrustworthy. Don't trust yourself.
%p "I'm too smart to make that mistake." No you are not. Not at all. Never forget it.
%p In each mistake that happens, someone notices it. You are not perfect. But, that is OK.
%p Mistakes are NOT obvious. If they were, we wouldn't have made them. We live in a fog of war. That is why hindsight is 20/20.
%p If you think you are perfect, you are probably not a good person to work with. You should reconsider yourself.
%p There are 174 cognitive biases. Data cannot make you a better decision-maker.
%p Be patient, Sampling is hard, Focus on a few metrics, chose carefully, be rigorous with your analysis, watch out for side effects in your results, use metrics and stories to understand your data, and plan for fallibility. We all make mistakes. It's OK.
%p Thank you Ketan, for a great talk!