%h2 Lightning Talks
%h3 Adventures in Public Speaking (Leon Fayer)
%p Public speaking is aweful It is scary and hard and intimidating.
%p The thing is, you are smarter than you think. You have something to say. You have something to share.
%p The audience is usually sympathetic. They are waiting for you to succeed.
%p "I ave nothing to talk about." Well, that just isn't true. You can talk about anything for five minutes.
%p Submit to conferences. Do it. What could go wrong. The worst that happens is that you will get rejected.
%p I'd recommend practicing in front of somebody. Just talk in front of someone. It helps.
%p When you do a talk, go for entertainment.
%p Be yourself.
%p OMG, don't read your slides.
%p Less is more. Use images on slides. Just tell your story.
%h3 Stats for Dummies (Fred Moyer)
%p Without data, you are just another person with an opinion - Deming
%p Without math your interpretation is probably wrong.
%p Averages...averages suck. Medians are better. 90th percentile is better.
%p Histograms plot the sample value vs number of samples.
%p Standard deviation is the 68.1% most normal stuff.
%p There are non-normal distributions. Standard deviations are only useful for normal distributions. Don't use them.
%p Don't use averages.
%p The Null Hypothesis. You want to disprove the non-true thing, thus proving the the null hypothesis.
%h3 PEBSAC (David Bradford)
%p (no show)
%h3 Debugging the Cloud (Sharon Sahar)
%p How do you find out what is happening in servers real time?
%p Logs suck for this time of stuff. It is hard to represent complex data structures there.
%p We could use a file system, like the /proc directory!! That would work. Super cool!
%p You then just spit out your stats to files in the directory.
%h3 Josh!!!
%p DCTechSlack.com is awesome. Join it!
%h3 Meet AnsibleDK (Clinton Wolfe)
%p AnsibleDK is an open source project.
%p It is a whole bunch of things thrown together to make Ansible more awesomer!
%p If you have ever used IaaS, using the tools is hard.
%p It is really easy to blow up production if you do it wrong. You should use good software engineering tools.
%p Doing that all on your workstation is a hot mess.
%p But wait, that is what AnsibleDK helps with. It puts your tools in a little jail in Omnibus. Cool.
%p AnsibleDK is a rip off of Omnibus. Cool!
%p AnsibleDK lets you integrate test kitchen right out of the box. Super useful!
%p Send some pull requests if you want stuff.
%p Download it at ansibledk.org
%h3 Visualizations generate Motivation (Jake Vanderdray)
%p Workers are 35% more productive when they can see their progress visually.
%p Workers love the physical act of moving things from one place to another.
%p The problem with security patches is that they break stuff, they are tough to test, they give you no rewards.
%p It feels good to see visual progress to see your software patches get applied.
%h3 Habitat (Nathen Harvey)
%p Habitat is nothing like Chef. It lets you build, deploy and manage applications.
%p Habitat starts with a plan. It doesn't use Ruby. It uses bash.
%p You take your habitat plan and you build it in a clean room (a busybox app).
%p You can store your app to a depot. It is portable and useful.
%p You can have multiple versions of a package running on the same disk.
%p You can run it in docker, run it in mesos, run it wherever you want.
%p There is a supervisor that supervises the apps in a running system.
%p The supervisors form a consistent hash ring to make it available for you!
%p There is also a REST API to get health statuses FOR YOU!
%p It is all open source and APL2 licensed!
%p Help out! Be awesome!
%h3 Fear the bus
%p Heidi Waterhouse
%p Docs and DevOps, and why you should do them!
%p DevOps is a constant race against time.
%p People are storing critical information in the HEAD!!! If they get hit by a bus, you are screwed!
%p Write things down. HAHA, you won't do this.
%p Our job might not be there tomorrow. So be sure your thoughts are there.
%p All I need is one place to look for things. If it is ugly, it is better.
%b Stop using Sharepoint!!!
%p Put all your stuff on one big document on Confluence!
%p How do you capture that crap in slack? Mark things in slack to pull out. Then search for that thing.
%p Docs for DevOps let you get your information down.
%h3 In Praise of the ./go Script
%p This has nothing to do with the Go language.
%p You start a new project, and you don't know how to set it up. That is where your ./go script is useful for.
%p ./go makes set up for developing easy. You do it once.
%p You can use ./go to make making your stuff awesome. Do this for yourself. Do it for your future self. Do it for your coworkers and friends.
%p Did you know that you can test bash script? Amazing.
%p bash is nice. Let's all use bash. Super cool!
%b Thank you everyone for the great talks!