%h2 Scaling Digital Services in the Government
%i Joe Crobak
%p What is the USDS? It was created after the healthcare.gov launch to make things, you know...better.
%p The federal government is 15 executive department. And they spend $86 billion on IT per year. And projects often go far over-budget and get scrapped.
%p So how can the USDS make a different if they are so small.
%p USDS pairs with other civil servants to find out what is needed. USDS involvement means it is something that the President (of the US of A) wants done.
%p Try to figure out the number of projects that will do the greatest good to the greatest number of people.
%p Sometimes departments are resistant to USDS involvement, we want to avoid the resistors.
%p The US Digital Service comes in to help introduce culture change into agencies that are developing software.
%p The College Scorecard is a great example of what the USDS does. It shows you the best bang for your buck when it comes to going to college.
%p They like to use an open API-first approach to make the software. They used A/B testing and make not only the site, but the data available for use.
%p Immigration had a green card process that was completely paper-based. And those papers zigzagged across the US. Six years and $1.2 billion dollars later they still couldn't digitize it. The USDS came in and got a product up and running in six (6) months!
%p A typical doctor will take 14 hours out of a 60 hour week on paperwork. Yuck!
%p When we pay for performance, the performance, or quality of care, will improve.
%p A prototype is worth 1,000 meetings. The government LOVES having meetings talking about how something should work instead of JUST DOING IT.
%p We all need to learn to just do it.
%p We can shift healthcare to the future, that is what USDS is working on. They are changing how we perform healthcare services.
%b Bureaucracy is tough. The problem isn't the leadership. The top-level leaders get it, but it gets lost in middle management. If you want to change culture, you have to target and focus on evolving middle management.
%p The middle is where the bureaucracy kills you, but it the place with the most potential for change.
%p USDS sounds amazing. I kind of want to work there. The people that work at USDS seem to come from the future.
%p Acronyms...acronyms are the mind-killer. They are an impediment to communication.
%p
	Oh my gosh, I want to sign up for the
	%a{:href => "https://www.usds.gov/join#application"}USDS.
%p The government is often trying to integrate the work contractors do. The USDS is the glue that brings all of those players together.
%p We need to make government sites easy to use. You have to deal with the government, so we need to make it easy to use.
%p We have to move the government towards agile and iterative practices. Government is still waterfall. We need to get them away from this. The USDS is doing that.
%b Assign one leader and hold that person accountable.
%p If you are creating a greenfield project, use modern tools and languages.
%p The government has to put together a System of Records Notice whenever they create a database with information about you.
%p You need to find the people willing to take the risks to change. People in the government work out of fear, but we have to break that down somehow.
%p Thank you, Joe, for a great talk!