%h2 The Death of Data #datadeath
%i Heidi Waterhouse @wiredferret
%p Ergot is a fungus that grows on grains. When you ingest ergot you get intense burning sensations and hallucinations.
%p The same things that make ergot get into food supplies, put bad data into our data sets.
%p Data has a sell-by date. We don't expect our data to last for eight years. That seems excessive.
%p There is old but true data (your name), old and wrong data (where you didn't work), and horrifying and dangerous data (like tax information).
%p When companies merge your data moves, and gets lost, and gets all mixed up.
%p Data can be caught up in bit rot, getting lost, and lost formats.
%p Some digital information is dead. You can get data in a format that is no longer readable.
%p If you want someone to see a picture you have taken, get it printed on paper, that is the only reliable solution for storage.
%p We are data hoarders. Amazon glacier is the pinnacle of this concept. We are storing things that...well, why are we storing them?
%p We are storing things without thinking about them.
%p Archivist care about a lot of things, but not other things. But we are not archiving things, we are just storing everything. That is not the same thing.
%p What does it matter to keep. You should keep financial information, old ads, historical information, school information, and data you have trained people to keep.
%p Please set a rule to delete meeting invites when you get them.
%p Throw away data you do not want to be subpoenaed for.
%b In the absence of sorting things, we just collect and collect. Do not hoard your data, sort it, archive it, care for it.
%p In the search-first world, we tend to forget that deleting things matter.
%p One of the things we are doing with our stored data is alert on that data.
%p One happens when you feed AI bad data? Then bad things happen to good people. We are teaching AI to hallucinate.
%p Big data knows all these things about you. You gets lots of great targeted ads. That is a good thing.
%p Go watch Carina C Zona's talk on harmful algorithms.
%p What about the criminal elements. Policing works right now by profiling. But we don't profile the right people.
%p Instruments of social control have been masquerading as mathematics. We have used data as a way to control the people.
%p We keep too much data because we do not know what to do with it.
%p One million is 10^6, a gig is 10^9, a petabyte is 10^15. That is a LOT of data.
%p Our knowledge is only useful when we know what to do with it. There is more data than the human mind can handle. We cannot handle the data.
%p Our data is too messy.
%p When your threat surface is large, you do not realize when something is wrong. You might not know, because your data is too big to comprehend.
%p How much does it cost you to store data? How much will it cost you when you are breeched?
%p Throw your data away. Toss it out when it is useless. We are not saying burn the library, but get rid of the bad or old stuff.
%p "I could use that!" is not good enough. If you thing you should keep it, make a case for it.
%p If you are keeping everything it is like keeping the wheat with the chaff. You are not analyzing, so don't keep it.
%p The thing is that we have unknown unknowns. You could keep them, but it might not be worth the exposure.
%p We are feeding our machine learning systems bad data.
%p BMI is a great example of poison data. Some of your data is wrong. BMI doesn't tell all the information.
%p It turns out that dieting makes you crazy. Check out the Minnesota Starvation Survey.
%p Throw away things. Throw away a lot of things. Throw away similar things.
%p Thank the things that your are getting rid of.
%b We should have a plugin that eventually fades the text color on Confluence to white as it ages and isn't updated.
%p Collect mindfully. Only collect what you need. If you cannot find a use case for the data you are collecting, you are just hoarding.
%p The problem of organizing data isn't new. Libraries have been doing it for millennia.
%p Folksonomy allows anyone to give metadata to any data in ways that makes sense to them. This is what drives recommendation services.
%b Hire an archivist! They will help you with deacquisition!
%p Constrain data size and train everyone in data retention!!!
%p Automate deletion, especially email.
%p De-duplicate your data. Get rid of duplicate your data. Your photos, etc.
%p People are mutable! We all change and grow. Our data should reflect that.
%p Data doesn't just rot, it grows wrong.
%p Thank you, Heidi, for a grwat talk!!!