%h2 The Right Kind of Crazy (@surgecon notes)
%i Adam Steltzner
%p Adam's team at NASA made the Mars Rover. It took ten years to make it happen. How do you keep a team motivated for ten years?
%p Our human curiosity is the thing that drives all of us. It moves us all forward. Makes us do amazing things.
%p The separation of ideas and people the hold them divest the ideas from egos. This allows your ideas to be able to battle each other. You can attack ideas without attacking people. This separation is key.
%p "Great work and great folly may be indistinguishable at the outset..." The amazing looks crazy, but the crazy also looks crazy. This is a good phrase to use.
%p Simulations and testing do not protect you against sins of omission. If you forgot something, all the testing in the world won't help you.
%p For the Mars Curiosity Rover, they could not test their work until it went live. They had simulations, but had no idea if it would even work.
%p Making human connections with each other is just as important, or more important, than other things. Always have lunch with your coworkers. Don't schedule meetings during lunch.
%b Humanize your coworkers.
%p The product that a team is a direct reflection of the cooperation of the team.
%p Everything starts with trust. If you do not have psychological safety, you cannot build anything of worth.
%p Hold on to the doubt! Remember that you might not know the answer. You have to figure it out yourself, but never be too confident.
%p Don't rush into the answer. Sit and contemplate for a bit. Don't leap to the quickest answer you see. When you do that, you are selling yourself short. Turn over those questions in your mind. You will get better answers that way.
%p If you roll the question in your mind, you are using curiosity-based decision making. If you jump to the first solution, you are using fear-based decision making.
%p Criticize your ideas. Let your team members attack your ideas.
%p When you come up with a new idea, come up with not only the good parts, but the bad parts.
%p View leadership as a service function. You are there to facilitate. You are NOT there as the smartest person in the room. You are not better than anybody else. You should make a team better than you.
%p Find something you love in everyone you work with. Stop criticizing your coworkers. Choose love, not hate. You can poison yourself with hatred, or feed yourself with love. Turns out people like it when you love each other.
%p Enjoy your coworkers.
%b Planning is everything, the plan is nothing.
%p The only thing we know about the plan is that it is absolutely not the right thing to do.
%p We do not explore the universe because it is practical. We do not explore because we love science. We explore because we are looking for our own potential. We are trying to stretch our possibility as the human race.
%p How grand are we, this race of man?
%p Curiosity is our key evolutionary mutation. Curiosity is what makes us human. Curiosity is what makes us great. Don't stop being curious. As we get older, we use our curiosity less and less. We need to break that from ourselves.
%p A curious mind stays agile, innovative, and competitive.
%b If the laws of physics allow it, humans can do it. You can do it.
%p What is next for us? What is next for you? You should be thinking about that. All the time. You are a part of our new future. Own it.
%b Where will your curiosity next take you?
%p Thank you, Adam, for a great talk!