%h2 The Convergence of Wills
%i Mike Bland
%p People are expected to pass a readability review at Google. This enables people to understand code anywhere. Your code styles have to be the same. Uniform.
%p All production code changes need peer review. Code reviews MUST be first class citizens.
%p The bottom line is communicate, collaborate and support one another. You have to help one another.
%p As Google grew, code got added, tools got slower, builds took longer, tests took forever. Things got worse. Fear set in.
%p How do you stop the fear from setting in.
%p When you break your promises, you lose trust.
%p When people stop communicating, stop testing, they get overconfident. They get scared.
%p You have to think about preventing problems, not just addressing them as they arrive.
%p If it can't be measured, it don't matter. That is a philosophy is deadly for testing.
%p How do cultures change? One thing is for sure, they do NOT change through authoritarianism.
%p It also doesn't change with "rock stars" or "super heroes" coming in to fix things.
%b Change is up to you. Only you can change you and your personal culture.
%p You cannot just clone another company's culture, that doesn't work. Organizations should be serving the people in them, not the other way around.
%p You have to know what the right thing is, and the right way to do it.
%b You have to make the right thing to do the easy thing to do.
%p "I don't have time to test" means the tools are too slow to learn how to test. So, to fix the culture, you have to address the tools.
%p Taking a stand is difficult. It is hard to go against the grain. But if you do, you can eventually make the right thing the easy thing to do.
%p There are investigators and early adopters, but they ave to cross the chasm to early majority. They will make the majority follow, and then there are the resistors. Forget them, just ignore them.
%p How do you spread the message of your success to other teams? You find the like-minded people together and motivate them. Point them to your success. Develop training and teach. Most importantly, teach new hires. They are the most mold-able. By either you...or the resistors.
%p Spread your ideas throughout teams. Trickle it throughout the teams with impassioned people.
%p Use the rainbow of death. Intervene, Validate, Inform, Inspire, Mentor and Empower. You have to have a multi-faceted approach to sharing your ideas with each other. With other teams.
%p How do we know that a feature will have value. It is almost impossible to measure the value of an infrastructure decision.
%p Read "The Art of Business Value." The agile business values are not any good. Instead of ROI, the idea that value is an emergent property that comes for highly adaptive teams.
%b Systems devised to shape humans behavior without accounting for human nature are destined to fail.
%p The purpose of the system is that continued innovation will happen if you care for your people. Innovation and success are the properties of a successful system.
%p We need to replace a culture of fear with a culture of success.
%p This is the second reference to “The Fifth Discipline” today. I think I have to read it now.
%p Sometimes it is the tools that make communication easier to work together. Slack is amazing for this.
%b Intervene, Validate, Inform, Inspire, Mentor and Empower.
%p When you develop the tools that make live easier for everyone, we all benefit.
%p Read "Why Employees Stay" from the Harvard Business Review.
%p Managers assume what is right for them is right for the employees. That is a common trap. They backslide into a command and control structure. Those managers start to focus on short term goals. They neglect to cultivate the culture.
%p If management wants employees to stay, they have to create cultures that respect people.
%b America is a proven framework for the convergence of wills.
%p What is th DevOps model? At its essence, it is a tool for making people better people.
%p Thank you, Mike, for an amazing talk!