%h2 What We've Learned From Four Years Sciencing the Crap Out of DevOps
%i Nicole Forsgren (@nicolefv)
%p
	Check out
	%a{:href => "https://puppet.com/resources/white-paper/2016-state-of-devops-report"}The State of DevOps"
	reports.
%p How do you make your data suck less? You need to write good survey questions, and make sure those survey questions are good...with SCIENCE!
%p How do you gage happiness and culture? Latent constructs. We measure many facets of an idea and layer them together.
%p We use psychometrics to make our survey data good.When we think we want to measure something, write it down. Then we sort the things we wrote down.
%p We want to establish reliability and validity in surveys. You have to ask several questions. Overlapping questions.
%p Start with four questions at least. Some of your questions are going to be bad. Sometimes people are going to lie. But here is the thing, when you get a large data set, it is REALLY hard to get everyone to systematically lie the same way. Just throw them out.
%p Does culture even matter? What kind of culture? A culture that values information flow and trust is the one we really want! A Westrum culture.
%p Use strong statements with clear language that people can answer with clear preference.
%b Individuals do not deliver software, teams do.
%p Check in with your teams every four to six months with a Westrum-type survey!
%p There is a risk that if you collect all your data from one source, that you are introducing bias. You also want to measure early and late responders differently.
%p Theory-based design. We have to have a thing we are looking to proof or disproof.
%p Great teams have low lead times to change, and release frequently.
%b Throttling speed of work to add stability is not a correct business solution. JFDI.
%p IT is not a cost center. Firms with high-performing IT orgs were twice as likely to exceed their profitability than those that do not care about IT.
%p You need test automation, deployment automation, version control, and CI to make a good IT org work. CD decreases burn out.
%p Shifting left on security does not slow down delivery.
%p CD helps decrease unplanned rework and helps you strongly identify with the place your work.
%p If you identify with where you work, you are happier at work. When you are happier at work, you work better.
%p When other people do our tests, we are less happy.
%p Google has studied managers for years. They found that the number one thing a manager does is provide psychological safety!
%p Decomposing work into small pieces and making that visible are very helpful.
%b Even if you think it is obvious, test with data.
%p We can have both throughput AND stability.
%p IT matters. You cannot just buy technology and walk away. It doesn't work.
%p DevOps culture matters.
%p Thank you, Nicole, for an amazing talk!