%h2 Velocity Online -  Web Standards to Measure Real-world Performance
%b http://en.oreilly.com/velocity-mar2011/public/schedule/detail/18632
%i Speakers: Anderson Quach, Microsoft IE and Tony Gentilcore, Google Chrome
%p (Abstract) In the summer of 2010, Microsoft and Google announced the formation of the Web Performance Working Group. Since then, we’ve been hard at work developing interoperable interfaces to measure web application performance. In this session, we’ll discuss the problems we’re solving, the challenges we’re facing, what we’ve done and where we’re going.
%p Give comments on web perf stuff to the peeps at the W3C at public-web-perf@w3.org.
%p Thanks to Anderson and Tony for the talk!
